[2021-04-19 11:39] tiamed opened #858 "Support DNS spoofing"
Feature request for DNS spoofing, pointing the domain to a different IP.

[2021-04-20 01:50] sushant40 opened #859 "Add support for remote device proxying in iPad/iPhone app"
I'd like to be able to proxy traffic from my iPhone on my iPad (running proxyman). Is this possible?

[2021-04-20 04:30] NghiaTranUIT commented on #859
@sushant40 yes, it’s possible. Please check out this guideline https://docs.proxyman.io/debug-devices/ios-device

[2021-04-20 10:40] NghiaTranUIT commented on #845
Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.23.0_Add_Proxyman_Status_Bar.dmg

<img width="363" alt="Screen Shot 2021-04-20 at 17 35 18" src="https://user-images.githubusercontent.com/5878421/115382886-61887f80-a1ff-11eb-9acf-11bc1c9c9122.png">

[2021-04-21 02:24] NghiaTranUIT opened #860 ""Now" button"
### Description
It's the fourth time that there is Proxyman user asks the same question:

[code]

At the moment, it's possible but it requires two steps:
1. Click on the ID Colum to order by descending
2. Select the top row

<img width="1473" alt="Screen_Shot_2021-04-20_at_21_37_02" src="https://user-images.githubusercontent.com/5878421/115487306-a30e3e80-a282-11eb-8837-b17c3f27749a.png">

Thus, w

[2021-04-21 05:10] zoain-it opened #861 "Interface layout issues"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.23.0
### macOS Version? (Ex. mac 10.14)
11.2.3
### Steps to reproduce
The width of the left column of the Body bar will automatically become smaller and cannot be dragged when you click in the area of request or response
### Expected behavior

### Screenshots (optional)

[2021-04-21 05:25] NghiaTranUIT commented on #861
Hi @zoain-it can you share with me the screenshot? You can hide the sensitive data before uploading 😊

[2021-04-21 10:06] schwindt opened #862 "High CPU usage with Atlantis turned on"
Proxyman version 2.23.0
macOS Version 10.15.7

### Steps to reproduce
Just start Proxyman with Atlantis turned on in your xcode projekt
after some minutes, the cpu usage gets around 150%. And thats all the time.

### Expected behavior
low CPU usage

[2021-04-21 13:32] NghiaTranUIT commented on #862
Thanks for the report @schwindt
I have few questions:

1. Just wondering what Atlantis version are you using?
2. How many requests from your app that appear on Proxman when the CPU goes high? You can get the number from the ID column

 I'm investigating it, but it seems that I couldn't reproduce it

[2021-04-21 13:35] NghiaTranUIT commented on #858
Thanks for requesting this feature @tiamed

I will check out what it's and see if It's reasonable to support it 👍

[2021-04-21 13:38] NghiaTranUIT commented on #860
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.23.0_Add_Show_Latest_Request.dmg

[2021-04-21 13:48] NghiaTranUIT opened #863 "Import files from any directory with Scripting Tool"
### Description
At the moment, if we would like to import a file to Map Local, we have to import the file and use the generated path.

For example:
[code]

We should improve it and allow the developer to import any files they need.

For instance:
[code]

[2021-04-21 14:17] NghiaTranUIT opened #864 "[BUG] Could not review XML Body"
### Description
Proxyman for iOS, there is a bug report in App Review
[code]

[2021-04-21 14:49] schwindt commented on #862
1. we are using Atlantis version 1.8.0
2. current ID is at 2555. But it doesn't matter if there are any api calls. Even when there are no calls, the cpu usage is constantly high.

Maybe I could find the problem: I had to deactivate the "proxy overridden" feature (option + command + o). The CPU usage went down directly. After I activated it, the CPU usage is still low.

[2021-04-21 14:51] NghiaTranUIT commented on #862
Thanks for the input 👍

Can you check how many rules in your SSL Proxying list are? (Tool -> SSL Proxying List). I suppose that there are many requests are intercepted during this time, so you get a higher CPU.

Toggle Proxy Overridden might fix it because these connections are stopped.

[2021-04-21 19:55] schwindt commented on #862
In the include list there are just 4 entries. The exclude list is empty.

[2021-04-22 05:26] NghiaTranUIT commented on #863
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.23.0_Improve_Scripting_Tool.dmg

[2021-04-22 05:27] NghiaTranUIT commented on #857
@chaoyangnz please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.23.0_Improve_Scripting_Tool.dmg

If you turn it off, the Console Log won't automatically scroll anymore 👍

<img width="580" alt="Screen Shot 2021-04-22 at 12 21 56" src="https://user-images.githubusercontent.com/5878421/115660308-04f3a480-a366-11eb-9b28-25774a056db9.png">

[2021-04-22 05:30] NghiaTranUIT commented on #856
Beta is available at https://github.com/ProxymanApp/Proxyman/issues/586#issuecomment-821054334

[2021-04-22 05:31] chaoyangnz commented on #857
@NghiaTranUIT awesome! that works well

[2021-04-22 05:32] #857 closed

[2021-04-22 13:32] percula opened #865 "Time and duration not parsing from HAR correctly"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.23.0

### macOS Version? (Ex. mac 10.14)
11.2.3

### Steps to reproduce
Import a HAR file and notice the Time and Date columns don't match the data from the HAR file. Is there a specific date format that Proxyman expects?

### Expected behavior
I would expect the Time and Duration columns to match the data from the HAR file. The HAR contains the followi

[2021-04-22 13:35] NghiaTranUIT commented on #865
Thanks for the bug report @percula

Look like there is a bug when parsing the Date from the HAR file. I will check it out and send you a BETA this week 👍

[2021-04-22 14:44] NghiaTranUIT commented on #865
@percula please check out this BETA build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.23.0_Fix_Date_In_HAR.dmg

It's a bug when parsing the ISO8601 date string from the HAR file🐛

From now, it parses and displays correctly 👍

<img width="1201" alt="Screen Shot 2021-04-22 at 21 21 39" src="https://user-images.githubusercontent.com/5878421/115734232-bbca4180-a3b3-11eb-88eb-e3d1c9883

[2021-04-22 14:50] percula commented on #865
The fix works great, thanks!

![Screen Shot 2021-04-22 at 10 50 01 AM](https://user-images.githubusercontent.com/16809252/115735565-94925680-a358-11eb-8998-acbb25d8076a.png)

[2021-04-22 14:51] NghiaTranUIT commented on #865
Glad to know that 🙌 🌮

[2021-04-22 17:28] nuynait commented on #840
Super exciting about this new feature... Definitely will be a game changer for me.

[2021-04-23 02:23] NghiaTranUIT commented on #840
It's 80%, I'm writing tests to make sure it doesn't break the current functionality. Will send you a beta soon @nuynait 👍

[2021-04-23 04:36] jonnywang opened #866 "proxyman iOS app store of china not found"
### Proxyman version? (Ex. Proxyman 1.4.3)

### macOS Version? (Ex. mac 10.14)

### Steps to reproduce

### Expected behavior

### Screenshots (optional)

[2021-04-23 04:38] NghiaTranUIT commented on #866
Hey, it's an issue we're working on with Appstore to bring Proxyman to China Store.

Basically, China's Governments require a special certificate in order to publish a VPN app to China Mainland, that we couldn't afford it.

We know that Charles Proxy is available, so we're trying to follow this approach to appeal to AppStore.

[2021-04-23 04:42] #866 closed

[2021-04-23 08:17] NghiaTranUIT commented on #864
Done and it has been released on AppStore (Proxyman iOS version 1.2.0) 👍

[2021-04-23 15:27] NghiaTranUIT opened #867 "Turn off the URL Encoding from the Scripting Tool"
### Description
Currently, the scripting tool will perform the URL Encoding when it constructs the URL. However, it causes some troubles for some users that are still using Legacy APIs.

We should offer an option to turn it off. For instance,
[code]

### Accpetance Critieria
- Able to turn off the URL Encoding in the Scripting Tool

[2021-04-25 03:07] VaslD opened #868 "Preference Window Should Be Scrollable & Should Draw Within Visible Screen"
### Proxyman version? (Ex. Proxyman 1.4.3)

Version 2.24.0 (22400)

### macOS Version? (Ex. mac 10.14)

11.2.3 (20D91)

### Steps to reproduce

- Use an external HD resolution (not 4k/8K) monitor, or adjust resolution scale of MacBook screen to larger (above Default) or largest.
- Open Proxyman.
- Preference window is drawn below Menu Bar but extended to area behind Dock and out of the screen. It

[2021-04-25 03:10] NghiaTranUIT commented on #868
Thanks for the bug report @VaslD 👍 Maybe I have to rearrange the items to be horizontal, so it can fit your scroll 😄

To make it's scrollable, it's more difficult I suppose 😄

[2021-04-25 10:39] NghiaTranUIT opened #869 "[BUG] Invalid CLI from "Copy as cURL""
### Description
If the request is a GET request and has an empty body. Proxyman might construct the invalid cURL. GET Method is not allowed with the Body.

[code]

[2021-04-25 12:48] NghiaTranUIT commented on #869
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Fix_cURL.dmg

[2021-04-25 14:43] NghiaTranUIT commented on #867
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_URL_Encoding_Toggle.dmg

[2021-04-26 09:16] parski opened #870 "Can't reach http://proxy.man/ssl on iPhone"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.24.0 (22400)

### macOS Version? (Ex. mac 10.14)
11.0.1 (20B29)

### Steps to reproduce

**Premise**:

I've closed all VPN programs (Wireguard and ProtonMail Bridge just to be sure) after a restart of the computer. I've only used Proxyman on Mac before, mostly for iOS Simulator and I have an installed and trusted root certificate on the Mac to enable SS

[2021-04-26 09:19] NghiaTranUIT commented on #870
@parski Look like the problem is from the External Proxy. Can you temporarily disable it and try again (Open http://proxy.man/ssl on your iOS Devices) 🤔

[2021-04-26 09:23] NghiaTranUIT commented on #870
Just wondering: After setting the HTTP Proxy on your iOS Device and you could not open http://proxy.man/ssl.

Are you able to access other domains? such as opening https://google.com from your Safari 🤔 I would like to verify that the problem is from the proxy or from the http://proxy.man/ssl

[2021-04-26 09:35] NghiaTranUIT commented on #870
One more thing to investigate the bug @parski

When you have External Proxy Config, but you could not access http://proxy.man/ssl from your iOS device, please try to open it from your Safari/GoogleChrome on your Macbook.

- If it works, you are able to download the certificate on your mac. It means the domain is working, and something in your cooperated network blocks it.
- If not, it means there

[2021-04-26 09:50] parski commented on #870
Disabling External Proxy solves this issue. Not sure if this is a bug but I'm happy with the workaround.

[2021-04-26 10:24] NghiaTranUIT commented on #870
Thanks for the input @parski 👍

I tested on my machine:

1. Open Charles Proxy at port 8888
2. Open Proxyman, then setting the External Proxy to 127.0.0.1 at port 8888 (Charles Proxy is like a Proxy Server).
3. Make sure the Internet is still working and I'm able to access the Internet => Setup correctly
4. Set HTTP Proxy on iOS devices with the configuration from Proxyman app.
5. Try to open http

[2021-04-27 13:47] rattakan35 opened #871 "Add option to ask before quitting ProxyMan"
### Proxyman version? (Ex. Proxyman 1.4.3)
Latest version

### macOS Version? (Ex. mac 10.14)
macOS 11.1

### Steps to reproduce

### Expected behavior
I quite.. often mistakenly quit ProxyMan from cmd+q.
It would be great to have an option to confirm if I (really) want to quit an application. Heh.

### Screenshots (optional)

[2021-04-27 14:15] NghiaTranUIT commented on #871
Thanks for the hint. I will add the alert if there are any requests on the main table 👍

[2021-04-27 14:16] #783 closed

[2021-04-29 06:47] NghiaTranUIT opened #872 "[Scripting] Import a huge file in a script takes a long time to response"
### Description
If we [import the file](https://docs.proxyman.io/scripting/snippet-code#import-files) in the a Scripting, by using the following JS code:
[code]

If the file is a large file, the script might run slowly.
The reason is that Proxyman would perform two tasks:
1. Read a local file in Swift and parse it to JS Object. Then passing to JS Environment
2. Getting the JS Object again and pars

[2021-04-29 14:08] NghiaTranUIT commented on #872
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Better_File_Import_Scripting.dmg

[code]

Example:
[code]

[2021-04-30 02:46] NghiaTranUIT opened #873 "Improve UI/UX of Proxyman 2.24.0"
### Description
There are many small things that we should improve:
- Update the wording of the iOS Simulator Certificate guideline -> Clarify that the user has to open the iOS Simulator before installing the certificate
- Fixed-size for HTTP Method button on the URL -> Consistent and reduce the jump when navigating to other flows
- Preference Window should be on top to fit the small screens size

[2021-04-30 09:21] rmischook opened #874 "Proxy unresponsive from iPhone"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.24.0 (22400)

### macOS Version? (Ex. mac 10.14)
11.3
### Steps to reproduce
1. proxy iPhone to Proxyman running on same wifi network
2. Go to any website on Safari
### Expected behavior
1. Expect to see IP address of the iPhone turn up in Proxyman sidebar under REMOTE DEVICES immediately with list of domains it has connected to
### Actual behaviour
It

[2021-04-30 09:31] NghiaTranUIT commented on #874
Hi @rmischook, Proxyman hasn't changed the logic regarding Remote Proxy from iOS Devices.

There are many external sources that might cause this problem. Next time, if you encounter this problem, let try:

1. Double check whether or not you're using any VPNs on your iOS Device. If yes, please turn it OFF.
2. Double check the Firewall setting in your macOS System Preference -> Security -> Privacy t

[2021-04-30 14:15] NghiaTranUIT commented on #115
It's tricky to install and trust the certificate on Blue Stack Emulator

[2021-04-30 14:17] vjpr commented on #115
I actually couldn't get it working in the end. Seems like they have locked things down more.

[2021-04-30 14:18] NghiaTranUIT commented on #115
@vjpr I highly recommend using Android Emulators from Android Studio, then you can run an automatic script to do it.

Doc: https://docs.proxyman.io/debug-devices/android-device/automatic-script-for-android-emulator

P/S: It uses `adb` CLI 😄

[2021-04-30 14:21] vjpr commented on #115
Would this work for thirty-party apps?

[2021-04-30 14:24] NghiaTranUIT commented on #115
This automatic script would help you to override the HTTP Proxy, download, install and trust the certificate with 1 click.

You have to config two following files in order to see the HTTPS Content from your app:

1. res/xml/network_security_config.xml
2. AndroidManifest.xml

If you are not able to access the source code of the third-party app, you couldn't do it, unfortunately.

[2021-05-01 06:26] SajjadKharrazi commented on #873
- fix Proxyman appearance theme "macOS Theme" when we set macOS 11.2.2 Appearance to Auto in System Preferences General tab ( it does not handle auto switch to dark and white theme )

[2021-05-01 06:31] NghiaTranUIT commented on #873
Thanks @SajjadKharrazi I will check out this bug 👍

[2021-05-02 10:22] chornerman commented on #466
Hi, @NghiaTranUIT 👋🏼  Is it possible to see a list of all of the nicknames I've set.

[2021-05-03 18:05] paul-go opened #875 "Proxyman not capturing traffic from command line apps"
### Proxyman version? (Ex. Proxyman 1.4.3)
Proxyman 2.24.0

### macOS Version? (Ex. mac 10.14)
macOS 10.13

### Steps to reproduce

I'm not sure if this is a supported feature.

I'm trying to inspect the HTTPS traffic going through the wire that is being originated by the restic command line tool, but the traffic doesn't appear to be capturing in the side bar. I have HTTPS traffic being captured t

[2021-05-03 20:00] crankygeek commented on #466
I don't think the list is exposed in the UI, but the info is stored in ~/Library/Preferences/com.proxyman.NSProxy.plist under `RemoteDeviceNickName`.

[2021-05-03 20:46] jasonhowk opened #876 "Support exporting the Proxyman CA Certificate in binary (DER) format"
The ability to export the CA cert directly into a binary format would be a great benefit to devs that are proxying AppleTV hardware.

Being able to simplify the configuration (even by 1 step) would be beneficial as the Apple Configurator does not accept PEM-based certs and making it appear that Proxyman doesn't work with AppleTV hardware. Exporting directly into a binary format would make the proc

[2021-05-04 02:03] NghiaTranUIT commented on #876
Thanks for the suggestion @jasonhowk 👍

I'm going to implement it and ship it in the next release 🌮

For a work around solution, you can convert the `pem` file to `der` with the following command:
[code]

[2021-05-04 02:10] NghiaTranUIT commented on #875
Hi @paul-go You could not see the HTTP traffic from the command line app because their traffic doesn't go through the HTTP/HTTPS Proxyman Proxy Server (at localhost port 9090).

To illustrate, by default, `curl` doesn't send a request to Proxyman unless we explicitly config it with `--proxy http://localhost:9090`

[code]

-------------------------

To fix your problem, we have to know what CLI you

[2021-05-04 02:15] NghiaTranUIT commented on #875
One solution I can find to force all CLI apps that go through HTTP/HTTP Proxy is using `http_proxy/https_proxy ` flag

[code]

Ref: https://www.serverlab.ca/tutorials/osx/administration-osx/configuring-a-network-proxy-for-osx/

@paul-go Please try it and let me know if it works for you 😄

[2021-05-04 02:17] NghiaTranUIT commented on #466
Thanks @crankygeek. The list name is in this file @chornerman 👍

Please take note that Proxyman doesn't know which device model is connecting to Proxyman. It just a map of a Device's IP and the Nickname.

[2021-05-04 03:43] chornerman commented on #466
Thanks, @crankygeek @NghiaTranUIT 🙇🏼‍♂️

[2021-05-04 11:45] zwszwszws opened #877 "socket"
the only reason why I use charles by m1 mac is it support socket proxy and this app doesn't

[2021-05-04 12:56] NghiaTranUIT commented on #877
Sorry to hear that @zwszwszws. I would like to confirm that what "socket proxy" is?
- TCP/UDP Proxy
- Or SOCKS5 Proxy 🤔

[2021-05-04 13:03] zwszwszws commented on #877
![image](https://user-images.githubusercontent.com/27600135/117007207-f4570d00-ad1b-11eb-8cb3-b1ec6bdef1e6.png)
the scenario is some client will send http by socket.The "HTTP Proxy" can't capture.But with "SOCKS proxy" it works.

[2021-05-04 13:11] NghiaTranUIT commented on #877
Thanks. This feature is in our road map #181 👍

[2021-05-04 17:49] jasonhowk commented on #876
Great.  Thanks for the quick response!

[2021-05-05 02:18] NghiaTranUIT opened #878 "Able to export Custom Certificate and Private Key"
### Description
Currently, if the user is using Custom Certificate, they could not export the Private Key and Certificate.

<img width="511" alt="Screen Shot 2021-05-05 at 9 18 03 AM" src="https://user-images.githubusercontent.com/5878421/117090542-ceb11e80-ad82-11eb-9425-9d48df3c41cb.png">

We should fix it 👍

[2021-05-05 04:33] NghiaTranUIT commented on #878
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Export_Certificate_PEM_DER.dmg

<img width="576" alt="Screen_Shot_2021-05-05_at_11_31_37_AM" src="https://user-images.githubusercontent.com/5878421/117097361-a41c9100-ad95-11eb-8cb4-ab85ed6934ad.png">

[2021-05-05 04:34] NghiaTranUIT commented on #876
@jasonhowk if you don't mind, please use this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Export_Certificate_PEM_DER.dmg

You can export a Root Certificate to PEM or DER format too 👍

<img width="576" alt="Screen_Shot_2021-05-05_at_11_31_37_AM" src="https://user-images.githubusercontent.com/5878421/117097400-bac2e800-ad95-11eb-9e52-65063d7642a5.png">

[2021-05-05 21:16] #770 closed

[2021-05-05 21:17] crankygeek commented on #770
Sorry, meant to close this earlier!

[2021-05-06 04:24] kartikarora opened #879 "Map Local window showing "Invalid Regex" error"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.24.0
### macOS Version? (Ex. mac 10.14)
11.3.1
### Steps to reproduce
1. Right click a url
2. Select Tools > Map Local
### Expected behavior
Map local window with response editor should be shown

### Debug Log
[code]

### Screenshots (optional)
![Screen Shot 2021-05-06 at 2 24 24 pm](https://user-images.githubusercontent.com/6591617/117241559-ccc88780-a

[2021-05-06 04:28] NghiaTranUIT commented on #879
Thanks for the bug report. I'm able reproduce it 👍

To fix it, please go to Preference -> Advance -> Map Local Folder and select a valid folder (Your Desktop).

<img width="702" alt="Screen_Shot_2021-05-06_at_11_26_37" src="https://user-images.githubusercontent.com/5878421/117241738-fb863400-ae5d-11eb-9076-1cb13d33d5a8.png">

Just wondering @kartikarora: Do you folder at `~/Documents/Map Remote Fi

[2021-05-06 04:29] kartikarora commented on #879
Quick update, I just realised I had deleted the directory where I store map local files.

Follow up, error message could be refined to show that the directory is missing, and maybe ask user to create it via Proxy Man, or open the "Select Directory" window.

[2021-05-06 04:30] NghiaTranUIT commented on #879
Yup, I'm going to fix it. If the folder is invalid, it will fallback to the Desktop Folder 👍

[2021-05-06 04:33] kartikarora commented on #879
Too wesy! Thanks for the quick response!

[2021-05-06 09:14] NghiaTranUIT commented on #879
Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_MapLocal_Directory_Not_Found.dmg

We will ship it in the next release 👍 Thank you so much for the bug reporting @kartikarora

[2021-05-06 11:38] kartikarora commented on #879
Happy to help!

[2021-05-06 13:31] sundeepgupta opened #880 "Automatic breakpoint behaviour without pausing"
This is a feature request to allow for configuring a breakpoint with rules, and let the breakpoint happen without pausing.

Example Use Case
I'm developing a feature on an iOS app which requires a network request to the backend. However, the backend has a bug and is sending the wrong response JSON. The request needs to happen though to update data in the backend's database.

Currently, I need to s

[2021-05-06 13:38] NghiaTranUIT commented on #880
Hi @sundeepgupta,

You can do "Automatic Breakpoint" by Map Local or Scripting. They are more efficient and less tedious work.

### Map Local
1. Make a request with your sample response
2. Right Click on the flow -> Tool -> Map Local
3. It will create a rule with current response
4. Then, you can directly edit the JSON Response
5. As soon as you make a request again, it will bring the Map Local Re

[2021-05-06 14:46] sundeepgupta commented on #880
Thanks @NghiaTranUIT , I see. Map Local doesn't work for that use case because the request does indeed need to hit the server. The Scripting feature seems to be what I'm after. I'll check it out - thanks!

[2021-05-06 16:37] mprice-banno commented on #739
@NghiaTranUIT any update on this feature, I know it's a big one :-)

[2021-05-07 01:38] NghiaTranUIT commented on #880
@sundeepgupta  With the scripting tool, you can do whatever Breakpoint, Map Local, and Map Remote can do.

Make sure you check out the Snippet Code, where you can find all common code 👍

[2021-05-07 01:39] NghiaTranUIT commented on #739
Hey @mprice-banno, we're currently working on the GraphQL Matching for tools #840.

It's almost done. After that, we will focus on this feature 👍 Sorry for this inconvenience

[2021-05-07 13:12] #880 closed

[2021-05-07 13:12] NghiaTranUIT commented on #880
@sundeepgupta Glad to know that it helps you 🙌 😄

[2021-05-07 16:37] florianbuerger opened #881 "Settings → Advaced doesn't fit on small screens and isn't scrollable"
This is the full window

<img width="702" alt="ScreenShot 2021-05-07 at 18 30 21" src="https://user-images.githubusercontent.com/119219/117481235-fbbc2780-af62-11eb-9a99-0af48321c9e6.png">

But I can not see the bottom part on a 13" MacBook using the default resolution

<img width="702" src="https://user-images.githubusercontent.com/119219/117481315-1b535000-af63-11eb-9194-e0f983dfc505.png">

Seem

[2021-05-07 16:52] mprice-banno commented on #739
No worries. Good to hear it's still in the works though. :-)

[2021-05-08 02:08] NghiaTranUIT commented on #881
Thanks @florianbuerger for the screenshoot. Look like I have to redesign the Advanced Tab 😄

[2021-05-08 03:16] NghiaTranUIT opened #882 "sharedState should be global and share between scripts"
### Description
At the moment, we can use `sharedState` to share data from Request and Response in the same script. The data will be wiped out when we run again.

To make it's easier, we should make `sharedState` becomes a global object and share between scripts.

### Acceptance Criteria
- `sharedState` is remaining the value from different scripts
- Update doc

[2021-05-08 03:16] NghiaTranUIT commented on #882
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Global_ShareState_Scripting.dmg

[code]

It will increase the counter as soon as we run a script.

[2021-05-08 06:00] NghiaTranUIT commented on #881
Fixed: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.24.0_Fix_Tool_Preference.dmg

<img width="702" alt="Screen Shot 2021-05-08 at 12 57 37 PM" src="https://user-images.githubusercontent.com/5878421/117528629-4ee2b880-affd-11eb-9cb0-d7b6f1a32506.png">

[2021-05-08 08:14] florianbuerger commented on #881
Oh wow that was fast, thanks! Looks great 🤩

[2021-05-08 08:14] #881 closed

[2021-05-08 17:16] Jazzykhan opened #883 "Hi, can i use this to block websites? let say if want to block facebook.com on my ios device?"
### Proxyman version? (Ex. Proxyman 1.4.3)

### macOS Version? (Ex. mac 10.14)

### Steps to reproduce

### Expected behavior

### Screenshots (optional)

[2021-05-09 01:49] NghiaTranUIT commented on #883
Hi @Jazzykhan, you can use Proxyman to block traffic to a particular websites.

Please check out the Block List Tool (https://docs.proxyman.io/advanced-features/blacklist)

[2021-05-09 02:29] NghiaTranUIT opened #884 "[BUG] Could not open a Flow Detail Panel"
### Description
In certain circumstances, users could not open the Flow Detail Panel on the bottom side or right side. It might happen if the user use small screens, such as Macbook 12" or 13"

### Acceptance Criteria
- Fix it.
- If the size is inappropriate, Proxyman should reset to the default value

[2021-05-09 02:29] NghiaTranUIT commented on #884
Done 👍

[2021-05-11 15:57] rmischook commented on #874
Hi. I tried the troubleshooting but none applied, i.e. firewall not running and no VPN on my Mac nor my iPhone. It's a weird bug because the thing will work fine for hours and then - just stop. It's happened just now and here are some of the steps I've taken:

1. Disconnect iPhone from Proxy and reconnect.
2. Restart the phone
3. Restart Proxyman
4. Add another iPhone to proxy -> not working eithe

[2021-05-11 23:02] jsorge opened #885 "[Scripting] Possible to parse a URL?"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.25.0

### macOS Version? (Ex. mac 10.14)
11.3.1

In Scripting, is it possible to use the `url` module (I'm not sure what it's called in JS) to parse a URL? I've got this code in a CodeRunner window using Node and it works:

[code]

However when I try to do this in the Scripting window I get this error:

[code]

I'm hoping there's a way to do what I'm af

[2021-05-12 02:28] NghiaTranUIT commented on #885
Hi @jsorge Unfortunately, the scripting could not use NodeJS modules because the scripting is built on top of [JavascriptCore](https://developer.apple.com/documentation/javascriptcore), which is a pure JS framework.

JavascriptCore doesn't support this [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL) too

Just wondering: How often do you use URL for the scripting? If it's an important c

[2021-05-12 02:30] NghiaTranUIT commented on #874
Thanks for the reply @rmischook

Not sure what causes your problem. I will collect this bug from other user and try to reproduce it on our network 👍

When the bug happens, can you try on different iOS Devices?

[2021-05-12 02:32] jsorge commented on #885
Ah yeah that makes sense @NghiaTranUIT, thanks for the explanation!

It's not something I'm doing a bunch (today was the first time) but I do have to find an alternate solution. I really only need the value of a path parameter so maybe it's time to turn to a regex.

[2021-05-12 02:37] NghiaTranUIT commented on #885
You can easily get a path of the URL by using
[code]

Ref: https://docs.proxyman.io/scripting/script#onrequest-object-format

[2021-05-12 02:38] jsorge commented on #885
Ah yeah this is a bit different. We route to new places in our app through protocol URIs that come in the payload as strings. I need to parse one of those 😊

[2021-05-12 03:05] NghiaTranUIT commented on #885
Thanks. I will find a way to support native URL if it's possible 👍

[2021-05-12 06:32] Thanatos-L opened #886 "scripting, how to rewrite cookie for the reqeust?"
### Proxyman version? (2.25.0)

### macOS Version? (mac 11.3)

### Steps to reproduce

I am so happy to find an elegance tool.

I have problem about how to set cookie in request.

I have tried:

[code]
Above code is not work, looking forward reply and thank you for your time!

### Expected behavior

### Screenshots (optional)

[2021-05-12 06:36] NghiaTranUIT commented on #886
Hey @Thanatos-L

The cookie is actually a key-value on the header, so you can set it like the following code:
[code]

Example with complex cookies:
[code]

You can combine all cookie into a string with `; ` as a delimiter 👍

[2021-05-12 06:45] Thanatos-L commented on #886
It works, I have wrong description about the question.

`request.headers["Cookie"] = "my_key=myvalue";`

Rewrite all my cookies and only my_key=myvalue left.

I need to **add** new cookie incremental, thank you

[2021-05-12 06:48] NghiaTranUIT commented on #886
So, it would look like:

[code]

[2021-05-12 06:52] Thanatos-L commented on #886
Got it, I am not familiar with js so I can not image how to that at the first.

Thanks a lot!

[2021-05-12 12:06] migfabio commented on #699
I am experiencing issues with Big Sur 11.3.1 with the latest version of Proxyman (2.25.0).
As soon as I opened it, I can see many random requests (from different IP addresses) failed, and after that, I cannot navigate. Internet stops working. Closing the Proxyman can't restore the internet connection, and I have to restart my mac.

I don't know how I can help you here.

[2021-05-12 12:09] NghiaTranUIT commented on #699
@migfabio Can you try to do "Factory Reset" in Help Menu -> Advanced -> Factory Reset to see if it can fix your problem?

From my experience, look like you're opening VPN apps or (kernel extension, which is installed by your security team). They might conflict with Proxyman and other web debugging proxy too. Please confirm if it's not your cases 🤔

[2021-05-12 12:10] NghiaTranUIT commented on #699
If it doesn't resolve your problem, please try to use Charles Proxy or Fiddler, and see if you're able to see the Traffic. If you can see the traffic from other apps, but not Proxyman. Look like the root of the problem is from Proxyman

[2021-05-12 12:29] migfabio commented on #699
Thanks @NghiaTranUIT for your prompt response. I'll double-check with my IT team and see if there is software that conflicts with Proxyman because Charles does not work.

[2021-05-12 12:52] NghiaTranUIT commented on #699
Thanks @migfabio please let me know the result 👍

[2021-05-12 15:51] migfabio commented on #699
@NghiaTranUIT, it was the antivirus, and it's a known issue from the vendor. Thanks for your support.

[2021-05-13 14:43] msivers commented on #447
Would love to see reverse proxy capability implemented (as per the likes of NGINX Reverse Proxy). Would be a huge addition to the feature list (and would also help work around the notable iOS WKWebview lack of http proxy support).

Is there an ETA for this?

[2021-05-13 14:45] NghiaTranUIT commented on #447
Thanks for pushing this feature. I will push this feature request to Proxyman team next week and see if we can allocate resource to implement this feature 👍 If it's reasonable, the ETA after 2-3 weeks after it kicks start.

Just wondering, if you run WKWebView on iOS Simulator: Is Proxyman able to capture the traffic? 🤔

[2021-05-13 15:43] NghiaTranUIT opened #887 "Fully support import Setting from Charles Proxy"
### Description
At the moment, we partially support "Import Setting from Charles Proxy" on certain tools, such as Map Local, Breakpoint, ...
However, it's really difficult to discover this feature (Few users ask this question)

<img width="732" alt="Screen Shot 2021-05-13 at 10 30 02 PM" src="https://user-images.githubusercontent.com/5878421/118150009-4eeb1a00-b43c-11eb-9147-c05f25f647ec.png">

We

[2021-05-14 03:09] NghiaTranUIT opened #888 "Import / Export Settings from Block List and Allow List"
### Description
As there are many teams that start using Proxyman and share the setting with each other, we should support this feature.

### Acceptance Criteria
- Able to Export Block List & Allow List
- Able to Import Block List & Allow List

[2021-05-14 07:58] rmischook commented on #874
Yes I should have clarified that point 4 above referred to proxying another iPhone when the proxy stopped responding to the first. In that case the proxy ALSO was not working for the newly-added proxy. If I enabled LOCAL proxy - that DOES work for the Mac - but the proxy continues to ignore the iPhones.

[2021-05-14 08:03] NghiaTranUIT commented on #874
It's hard to tell what causes the problem. It looks like your iOS Devices could not proxy their traffic to Proxyman Proxy Server at your IP address port 9090.

Just wondering: Are you using a corporate network or a home network? If it's a corporate network, from my experience, some company blocks it

[2021-05-14 21:49] crankygeek opened #889 "Help - Is it possible to share a single script body between multiple Proxyman scripts?"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.25.0 (22500)
### macOS Version? (Ex. mac 10.14)
MacBook Pro (16-inch, 2019) macOS 10.15.7

I have a script that I need to run with multiple endpoints with various Matching Rule criteria such as URL, Method, etc. The script body itself is the same regardless of the rules applied.

Is there a way to include an external file (.js, txt, whatever) as

[2021-05-15 02:05] NghiaTranUIT commented on #889
Hey @crankygeek it's possible to include an external JS file to multiple scripts by using Addons (https://docs.proxyman.io/scripting/write-your-own-addons). Basically, you can write your own addon and reuse it in different scripts as usual 👍

Regarding the Rule Organizer, we're still working on it. The progress is slow since it changes many places and the core logic of the app, but we promise to s

[2021-05-15 02:44] NghiaTranUIT opened #890 "Import Charles Proxy SSL Proxying List"
### Description
Many users are moving to Proxyman, so it's important that the migration is seamless. As their request, Proxyman should be able to import SSL Proxying List (Include/Exclude) from Charles Proxy

### Acceptance Criteria
- Able to import SSL Proxying List (Include/Exclude) from Charles Proxy

[2021-05-15 08:08] NghiaTranUIT commented on #887
Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.25.0_Import_Export_Settings.dmg

<img width="953" alt="Screen Shot 2021-05-15 at 3 07 41 PM" src="https://user-images.githubusercontent.com/5878421/118353166-50792700-b58f-11eb-9c6b-85f1c0c5ba67.png">

[2021-05-15 08:08] NghiaTranUIT commented on #890
Done with https://github.com/ProxymanApp/Proxyman/issues/887#issuecomment-841619976

[2021-05-15 08:08] NghiaTranUIT commented on #888
Done with https://github.com/ProxymanApp/Proxyman/issues/887#issuecomment-841619976

[2021-05-15 10:54] Floperoid opened #891 "Modify response body snippet"
I want to modify response using Scripting tool. My response is complicated json with nested objects and arrays that looks like that
payload: {
 ...........
  result{
  ........
  value[
   .......
   "something_i_want_to_change":"123",
   .......
  ]
  .........
 }
}

How can I replace "123" value to "321"?

[2021-05-15 13:06] NghiaTranUIT commented on #891
Hey @Floperoid, since the body is an Object (Dictionary), so you can access the value as usual. For example:
[code]

If it's too difficult to access a child node from a large JSON, you can export your Response first (Right-click on the Flow -> Export Response Body)

<img width="793" alt="Screen Shot 2021-05-15 at 8 05 17 PM" src="https://user-images.githubusercontent.com/5878421/118362225-dfe70000

[2021-05-15 13:30] Floperoid commented on #891
Thank you a lot! Turns out It was my inadvertence

[2021-05-15 13:30] #891 closed

[2021-05-17 01:55] NghiaTranUIT opened #892 "Support Websocket on HAR file"
### Proxyman version? (Ex. Proxyman 1.4.3)
From Chrome 76, it's possible to export the WebSocket messages on the HAR file. We should support it since there are few users who also request it too 👍

### Acceptance Criteria
- Read WebMessage message from HAR file

Ref: https://developer.chrome.com/blog/new-in-devtools-76/#websocket

[2021-05-17 09:34] rmischook commented on #874
Home network. It can't be network config because IT WORKS FOR AWHILE and then JUST STOPS.

[2021-05-17 14:30] NghiaTranUIT opened #893 "Improve UI layouts and bugs"
### Acceptance Criteria
- Set selected item label to be horizontally center
- Show Xcode 11.4+ on iOS Simulator guideline
- Fix Auto Theme issue

<img width="1728" alt="Screen_Shot_2021-05-17_at_21_28_12" src="https://user-images.githubusercontent.com/5878421/118505933-135f9100-b757-11eb-9aa0-259abf7eac4e.png">

[2021-05-18 14:51] NghiaTranUIT commented on #893
Done with https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.25.0_Fix_Auto_Switch_Theme.dmg

[2021-05-19 10:09] NghiaTranUIT commented on #892
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.25.0_Support_Websocket_HAR.dmg

<img width="1935" alt="Screen_Shot_2021-05-19_at_16_24_18" src="https://user-images.githubusercontent.com/5878421/118795574-e92be180-b8c4-11eb-95b8-d99225d72d69.png">

[2021-05-20 19:52] CyberMew commented on #236
Has this been fixed yet such that even javascript requests in browsers or some apps which I don't have code access to will work, and have the network requests show up?

[2021-05-21 00:02] TemporalAgent7 opened #894 "Scripting error when application uses wrong content-type"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.25.0 (22500)

### macOS Version? (Ex. mac 10.14)

mac 11.3.1

### Steps to reproduce

The application sends an invalid JSON object with Content-Type=application/json. I want to log this value.

[code]

I'm getting this error:

`Error: Invalid JSON Object from given body. (Content-Type=application/json)`

### Expected behavior

Add a way to pass invalid

[2021-05-21 01:41] NghiaTranUIT commented on #236
@CyberMew it's not a bug, so I can't fix it. It's how NodeJS works.

If you could not access the source code to change the HTTP Proxy, please try to override on your terminal.

[code]

It is not 100% work if your app doesn't respect the env http_proxy

Ref: https://www.serverlab.ca/tutorials/osx/administration-osx/configuring-a-network-proxy-for-osx/

[2021-05-21 02:13] NghiaTranUIT opened #895 "[iOS] Share all domains from pinned domains"
### Description
Some users request that they would like to export **all** pinned domains to Proxyman for macOS via Airdrop, but Proxyman for iOS has not supported it yet.

We should implement it.

### Workaround
- Open each domain and export it separately.

### Acceptance Criteria
- Allow to export and share all pinned domains via Airdrop

[2021-05-21 05:56] NghiaTranUIT commented on #894
Hey @TemporalAgent7, since the Content-Type is invalid, so Proxyman could not know what type of the Request.Body to parse. Therefore, you get the error log.

To workaround, please look at the Request object at https://docs.proxyman.io/scripting/script#onrequest-object-format

You can access the rawBody and manually parse it to JSON object with JSON.parse()

For example:
[code]

[2021-05-21 07:03] NghiaTranUIT commented on #895
Done and gonna release on Proxyman for iOS 1.2.2 ✅

[2021-05-21 15:36] TemporalAgent7 commented on #894
The remote server expects the data in invalid format, it will not process correctly if I send it JSON, it will also not process correctly if I send a different content-type.

It would be nice to have the option to be able to write to rawBody and configure Proxyman to ignore invalid content types.

[2021-05-22 03:29] NghiaTranUIT opened #896 "[BUG] Crash app when parsing a invalid p12 file"
### Description
For some reason, if the user imports a custom p12 file, which is invalid, SwiftNIO-SSL might crash the app if it could not parse the p12 file properly.

It's crashed due to the fatalError()

https://github.com/apple/swift-nio-ssl/blob/9c457d021e8be61d02941dafc2f34da80f328d2e/Sources/NIOSSL/SSLPKCS12Bundle.swift#L65

We should throw the exception instead of crashing the app.

[2021-05-22 14:14] NghiaTranUIT commented on #896
Done 👍

[2021-05-22 21:29] CyberMew opened #897 "Error adding Proxyman CA to keychain manually"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.26

### macOS Version? (Ex. mac 10.14)

11.3.1

### Steps to reproduce

![image](https://user-images.githubusercontent.com/4715911/119241205-4eaef500-bb87-11eb-83d2-2be9cf5eb301.png)

Click `Generate & Add`

This appears (not documented in UI):
![image](https://user-images.githubusercontent.com/4715911/119241231-6edeb400-bb87-11eb-8a9e-826d0cba61ba.png

[2021-05-23 01:37] NghiaTranUIT commented on #897
Hey @CyberMew, sorry but I could not reproduce your issue on my machine (macOS 11.31) 🤔

Just wondering: Are you logged as an admin or Guest user? You can see it in System Preference -> Users & Groups -> See what kind of your account?

[2021-05-23 05:14] CyberMew commented on #897
Hi @NghiaTranUIT, I am logging in as admin. This is a new M1 Macbook Air, so not sure if it affects anything. I have not tried the Automatic mode yet.

[2021-05-23 05:38] CyberMew commented on #897
Is there a way to add it manually myself?

[2021-05-23 05:40] NghiaTranUIT commented on #897
You can add your custom root certificate https://docs.proxyman.io/advanced-features/custom-certificates

[2021-05-23 05:44] CyberMew commented on #897
That is a lot more work than I thought, I will try the Automatic mode instead. Do you want me to test anything? If not I will proceed with Automatic mode.

[2021-05-23 05:51] NghiaTranUIT commented on #897
Let try automatic work. I’m not sure why Proxyman couldn’t add the certificate to your Keychain. I will try to reproduce it

[2021-05-23 07:06] CyberMew commented on #897
Automatic mode installed it into `System` keychain instead of `Local Items` keychain. Seems ok for now. If this issue happens again, try select `System` instead of `Local Items` during manual install. Though I don't know if we are supposed to install to `System` or `Local Items` by default.

[2021-05-24 01:58] PangYenChen opened #898 "When uploading form data, "copy curl" does not get the body"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.25.0 (22500)

### macOS Version? (Ex. mac 10.14)
10.15.6（19G2021）

### Steps to reproduce
Upload an image using form data format,
and Proxyman gui click "copy curl".

### Expected behavior
Get the curl with form data format body.

[2021-05-24 02:02] NghiaTranUIT commented on #898
Thanks for the bug report @PangYenChen. I'm able to reproduce the bug when uploading the file with multipart/form-data 👍

I'm going to fix it and send a BETA build this week 🌮

[2021-05-24 02:03] NghiaTranUIT commented on #897
Thanks. It should be "System Keychain". I will update the Doc and guideline to tell users to select it 👍 

[2021-05-24 03:48] NghiaTranUIT commented on #898
Hey @PangYenChen, there are two possible solutions:

### cURL with the invalid body, but exact multipart/form-data
I tried to perform the "copy as a cURL" with Charles and Fiddler, and the result is:

[code]

It's exactly the request body, but when executing it on the Terminal, it yields the error (Invalid body).

### Better cURL with -F option
From cURL Doc, we can use `-F` to make a correct mult

[2021-05-24 09:15] PangYenChen commented on #898
I want to upload an image to the server from a mobile app.

I need to tell my backend colleague what request the mobile app sent.

In general, the image file is not a local file on my computer.

So, the exact multipart/form-data will be better.

I am not a native English speaker. Please pardon me.

[2021-05-24 11:07] NghiaTranUIT commented on #898
Thanks for your clarification @PangYenChen 👍 I will follow this approach because it's easier to implement 😄

[2021-05-24 14:18] NghiaTranUIT commented on #898
@PangYenChen please check out this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.26.0_cURL_Multipart_Form_Data.dmg

It will fix your bug 👍

[2021-05-25 08:29] NghiaTranUIT commented on #833
Hey @VaslD I've implemented this feature. If you don't mind, please try this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.26.0_Multipart_Form_Data_Previewer.dmg

- You can preview the multipart/form-data with a nice table view
- Export each part as a file 👍

<img width="1978" alt="Screen_Shot_2021-05-25_at_15_09_07" src="https://user-images.githubusercontent.com/5878421/

[2021-05-25 08:30] NghiaTranUIT commented on #898
Meanwhile, I've implemented the multipart/form-data previewer at https://github.com/ProxymanApp/Proxyman/issues/833#issuecomment-847667322

Please check it out 😄 @PangYenChen

[2021-05-25 10:53] PangYenChen commented on #898
Thanks a lot!

Though it works properly for my case, I think that generally “Better cURL with -F option” would be a better option for other people.

If there is a switch to toggle the result of “copy curl”, it would be perfect!

It’s just a suggestion.

Thanks again!

By the way, multipart/form-data previewer is amazing!

[2021-05-25 10:53] #898 closed

[2021-05-26 01:31] NghiaTranUIT opened #899 "Could not open HAR file with Charles Proxy / HAR Previewer"
### Description
For some reason, Charles Proxy or HAR Previewer could not open the HAR file, which is exported from Proxyman. We should fix it 👍

[2021-05-26 02:09] NghiaTranUIT commented on #899
Fixed this this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.26.0_HAR_File_CharlesProxy.dmg

[2021-05-26 08:59] NghiaTranUIT commented on #840
Hey @nuynait, @kishyr, I have good news for you 😍

- We've supported GraphQL. Please try this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.26.0_Matching_Rule_For_GraphQL.dmg
- You can set define a GraphQL Name, so it would match exactly the GraphQL request. Works well for Breakpoint, Map Local, Scripting, Block List, Allow List ✅

<img width="1218" alt="Screen_Shot_2021-

[2021-05-26 10:11] kishyr commented on #840
@NghiaTranUIT You, sir, are *awesome*! Thank you so much! 🙏🏽

[2021-05-27 11:50] NghiaTranUIT opened #900 "Support Publish to Gist"
### Description
Some feature would like to have a "Publish to Gist" feature, so they can quickly create a gist and share it with their colleague.

Currently, we have to select a request -> Export -> Export as Proxyman Log and attach the log somewhere, then sharing it. It's too cumbersome.

We should improve this sharing feature 👍

### Acceptance Criteria
- Support Publish to Gist
- Support Public

[2021-05-28 00:56] EricMentele opened #901 "iOS simulator SSL handshake failure on some subdomains"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.26.0 (22600) free version

### macOS Version? (Ex. mac 10.14)
Big Sur 11.4

### Steps to reproduce
Install Mac OS Cert and cert on open simulators with reboot
Cert is trusted
Login to app
Error bad request in app.
Proxyman SSL handshake failure 999 on one subdomain.

### Expected behavior
All calls succeed and show payloads in json format

### S

[2021-05-28 01:00] EricMentele commented on #901
Happy to jump on a call with you if it will help.

[2021-05-28 05:33] NghiaTranUIT commented on #901
Hi, I'm not sure what caused the error on this particular domain 🤔

I tried to get this domain and it works on my end.
[code]
<img width="1653" alt="Screen Shot 2021-05-28 at 12 31 21" src="https://user-images.githubusercontent.com/5878421/119934821-9f23b980-bfb0-11eb-9e9a-da95e8939f0c.png">

@EricMentele Can you help me to execute this command in your Terminal app? (Please make sure Proxyman app

[2021-05-28 06:16] EricMentele commented on #901
![image](https://user-images.githubusercontent.com/5101005/119938645-95af3880-bf41-11eb-9c0c-6a20c0b376ee.png)

[2021-05-28 06:18] NghiaTranUIT commented on #901
So it works from curl but doesn't work from your iOS Simulator.

From what I see in your first screenshot, you're able to see other HTTPS Requests from iOS Simulator, which means the certificate is installed and trusted properly.

Just wondering: Does this issue happen in your real iOS Device or it happens only with iOS Simulator?

[2021-05-28 06:20] EricMentele commented on #901
It doesn't work. That has an error. On the simulator one two calls work and one gets an ssl handshake failure.

[2021-05-28 06:22] EricMentele commented on #901
It's strange because the MacOs proxy seems to work. Tested it on Google.com and also the two calls from the app from the simulator. Haven't tried it on device because I need it to work on the simulator.

[2021-05-28 06:22] EricMentele commented on #901
I have Charles Proxy and it can't even install certs on the simulator anymore.

[2021-05-28 06:25] NghiaTranUIT commented on #901
Thanks for getting back. You can fix the Charles Proxy by following this answer: https://stackoverflow.com/a/67297897/3127477

and try to use Charles Proxy to see if you're able to reproduce the bug 🤔

I'm not sure why only this domain doesn't work. If it's a bug from Proxyman, I suppose you couldn't see any Request from your iOS Simulator.

[2021-05-28 06:30] EricMentele commented on #901
I tried the manual root cert; however, my admin account gets rejected. It would be great to get Proxyman working because I like it more.

[2021-05-28 06:33] EricMentele commented on #901
Strange... now I don't see any traffic from the simulator.

[2021-05-28 06:34] EricMentele commented on #901
Saw this in the earlier terminal output: * ALPN, server did not agree to a protocol

[2021-05-28 06:40] EricMentele commented on #901
Very strange. I rebooted Proxyman and now it only shows firebase and doesn't seem to log any other traffic even though ssl is active for the app.

[2021-05-28 06:42] EricMentele commented on #901
The app calls are all succeeding without being recorded. Thank you for trying to help. I understand if this is too weird of an issue spend time on. Did not used to have it and think it may be related to an Xcode update.

[2021-05-28 06:44] NghiaTranUIT commented on #901
Sorry to hear that.

It's correct behavior because Proxyman doesn't support HTTP/2 yet, so ALPN would use HTTP/1.1 => cURL will print this warning.

------------
Regarding the issue, I would like to suggest:
1. Turn off all VPN app (if it's opening)
2. Try again with iOS Simulator and iOS Devices
3. If the bug remains, maybe we should try Charles Proxy, to see if you can reproduce it.

Meanwhile,

[2021-05-28 06:53] EricMentele commented on #901
I just tried Charles and it told me no devices are booted... Use the command line version of the link you sent me. That is odd because I have a simulator open and running.

[2021-05-28 07:31] NghiaTranUIT commented on #901
Thanks for the link @EricMentele 🌮

Look like it's the issue from the Networking library from Apple (URLSession), which automatically rejected the HTTPS `https://fhir-staging.medinformatix.cc`, which doesn't match the certificate.

<img width="1026" alt="Screen Shot 2021-05-28 at 14 28 32" src="https://user-images.githubusercontent.com/5878421/119946589-fd589880-bfc0-11eb-88fc-0eaf36c6cbca.png">

[2021-05-28 07:32] NghiaTranUIT commented on #901
Hmm, sorry, look like the domain is already correct `https://fhir-staging.medinformatix.cc` (no underscore)

[2021-05-28 07:41] EricMentele commented on #901
The underscore is in the full path: getEncountersForPatientId URL https://fhir-staging.medinformatix.cc/v3/Encounter?patient=T500014&_include=*

[2021-05-28 07:43] EricMentele commented on #901
Does that count? That is the main difference I see between the one that is failing that those that are succeeding.

[2021-05-28 07:44] EricMentele commented on #901
I reached out to my team and asked them if we can replace underscores.

[2021-05-28 18:13] EricMentele commented on #901
None of this turned out to be the issue. I had a space in my request header... 🤦‍♂️

[2021-05-28 18:50] #901 closed

[2021-05-29 02:00] NghiaTranUIT commented on #901
Glad to know you finally fix a bug 😄 🌮

[2021-05-29 19:15] VaslD commented on #833
Sorry for the delay. I’ve been busy this week and hadn’t had the time to try the Beta. I’ll see if I can upgrade my copy tomorrow and give it a go.

The screenshot looks promising though. It’s exactly what I wanted and I think this addition will be very crucial to my workflow.

Thank you again for making it a reality.

- Yi

[2021-05-29 20:37] mattneub commented on #447
The trouble is that localhost.proxyman.io is not a reverse proxy. It's just a DNS munger. A reverse proxy is a web server acting as a man in the middle. This is what is needed to intercept communication from apps that do http without regard for proxy settings. localhost.proxyman.io doesn't help with that.

[2021-05-30 16:11] phr85 commented on #138
Linux would be great! Coming from macOS with Proxyman (❤️) and now have to work with Wireshark (🤢) under Linux.

[2021-05-31 08:55] NghiaTranUIT commented on #900
All done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.26.0_PublishToGist.dmg

<img width="1007" alt="Screen_Shot_2021-05-31_at_15_54_31" src="https://user-images.githubusercontent.com/5878421/120167979-90dfd280-c228-11eb-9ff1-efb94e3244db.png">
<img width="702" alt="Screen Shot 2021-05-31 at 15 54 36" src="https://user-images.githubusercontent.com/5878421/120168014-9e955800-c228-11

[2021-06-01 10:52] NghiaTranUIT commented on #447
Thanks. I understand the problem. We're working on this feature. Please stay tuned 😄

[2021-06-01 14:21] philviso-reverb commented on #808
Cool feature! Thank you!

[2021-06-01 15:23] test-for-ulk opened #902 "Help - How to change default port 9090 to 8888?"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.26.0 (22600)
### macOS Version? (Ex. mac 10.14)
11.2.3 (20D91)
### Steps to reproduce
My Proxyman use default port: 9090. I need to change it on port: 8888. Is it possible?
Using Charles Proxy its easy to change port at Proxy Settings.
<img width="584" alt="change port at charlse proxy" src="https://user-images.githubusercontent.com/81962218/120348521-e

[2021-06-01 15:27] NghiaTranUIT commented on #902
Hey @test-for-ulk, you can change the port in Preference -> Proxy Port

<img width="702" alt="Screen Shot 2021-06-01 at 22 27 02" src="https://user-images.githubusercontent.com/5878421/120349680-80af1c80-c328-11eb-863d-2aa650a99034.png">

[2021-06-01 16:33] AnthumChris opened #903 "Response codes not shown when running in background"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.26.0

### macOS Version? (Ex. mac 10.14)
10.15.7

### Steps to reproduce
1. Run Proxyman in background while capturing requests.
2. Issue requests that return HTTP response code `400`
3. Proxyman does not update the HTTP response values until clicked and running in foreground.

### Expected behavior
Proxyman should update the request list and show the r

[2021-06-02 03:00] NghiaTranUIT commented on #903
Sorry but I could not reproduce this bug on Catalina 10.15.7 too 🤔

As you can see on the video (Dropbox link):
- Proxyman is in the background
- Terminal / Google Chrome is in the foreground (Focus)

=> When I make a request, Proxyman still updates the request/response properly without focusing on it.

https://www.dropbox.com/s/rppqbwzq3gbomgy/1.mov?dl=0

-------------------------

Just wondering

[2021-06-04 06:13] haphanquang commented on #264
Workaround with Cisco VPN
- start Cisco VPN first, press Connect but not enter password
- start Proxy man
- go back to Cisco VPN and enter password
- start simulator
Enjoy magic.

[2021-06-05 04:03] NghiaTranUIT commented on #412
Debugging with GraphQL feature is available on the latest build (2.27.0). Please update it 😄

Thanks all 🙇

[2021-06-05 19:49] erickva commented on #412
@NghiaTranUIT This is incredible news. I am no longer working on a Project with GraphQL, but it will happen again soon. Great effort! It will be a life saver. ❤️

[2021-06-06 03:07] NghiaTranUIT opened #904 "Support Export to Proxyman Log from selected folders"
### Description
Currently, we support "Export as HAR" for the selected folders (e.g. User, Apps, Domains folders), but there is no option to export as a Proxyman Log.

<img width="608" alt="Screen_Shot_2021-06-06_at_10_04_33" src="https://user-images.githubusercontent.com/5878421/120911114-b9475100-c6ae-11eb-86b3-cfc31ae52bce.png">

We should support it since Proxyman log is better to store a data

[2021-06-06 06:06] NghiaTranUIT commented on #904
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Export_Folder.dmg

[2021-06-09 22:50] crankygeek commented on #903
@NghiaTranUIT I saw this ticket and had a few minutes, so figured I'd give it a try since I'm on 10.15.7. I wasn't able to reproduce the issue using your test steps.

I had to change the command to `curl -x 'http://localhost:9090' 'https://httpbin.org/get'`. Running yours kept giving me an error: "curl: no URL specified!"

Also, OP mentioned it was when getting `400` response codes, so I also trie

[2021-06-10 01:35] NghiaTranUIT commented on #903
Thanks for your support @crankygeek 🌮

I'm unable to reproduce the bug with a different scenario too. I guess we have to wait for the response from @AnthumChris 👍

[2021-06-10 12:45] droidclicketyclacker commented on #902
@NghiaTranUIT I just tried changing ports and it works fine. I believe this issue can be closed.

[2021-06-10 12:45] NghiaTranUIT commented on #902
Thanks for letting me know 🥇

[2021-06-10 16:26] crankygeek commented on #889
Got it. Thanks!

[2021-06-10 16:26] #889 closed

[2021-06-10 16:27] #669 closed

[2021-06-10 22:42] AnthumChris commented on #903
Hi everyone, thanks for looking into this.  I'm not sure what may have caused this, and it hasn't been affecting my workflow anymore.  I've gotten into the habit of closing Proxyman before initiating my corporate VPN, so perhaps there was an issue with the VPN not playing nicely with others.

I'm happy to close this since it's not easily reproducible.

[2021-06-11 02:00] NghiaTranUIT commented on #903
Thanks for getting back. Feel free to keep this ticket open for other users, who might encounter this issue  👍

[2021-06-14 15:12] NghiaTranUIT opened #905 "[BUG] AppCenter analytic when the service is disable"
### Description
If we disable the AppCenter Analytic in Preference -> Analytic, we might encounter the log error from Proxyman's console.
[code]

We should fix it 👍

[2021-06-15 15:38] srinivas-m-a commented on #211
Hi @NghiaTranUIT I started using ProxyMan yesterday. It is a very nice and easy helpful tool. Thank you.
I am on macOS BigSur Version 11.4 (20F71). We use this VPN https://www.paloaltonetworks.com/products/globalprotect
I still see the issue with this VPN.
For now I can keep the App open, when being on VPN. But would like to know, what is the safe set of steps, I can do to access internet without

[2021-06-15 15:43] NghiaTranUIT commented on #211
Hi @srebalaji, unfortunately, there are no reliable steps to make Proxyman work with VPN apps like GlobalProject. Each VPN apps has different steps to make it works, or it doesn't work at all.

In general, if you could find a HTTP/HTTPS Proxy Config in GlobalProtect's Preference, you can override it to 127.0.0.1 port 9090. It might work 👍

I also collect these VPN issues and how to fix them (for c

[2021-06-15 19:57] Hadleytron commented on #699
I am also having this issue ~ When I had the anti virus enabled, each domain was coming through as an IP address, and turning it off enabled the domain names to come through, but it still did not allow me to connect. If I have the 'Override macOS proxy' enabled, I just seem to be offline. I cannot visit any browser page or stay connected to MS Teams, which was never an issue when I was on mac OSCa

[2021-06-16 01:48] NghiaTranUIT commented on #699
Hey @Hadleytron, can you try to do Factory Reset in the Help menu -> Advanced -> Factory Reset?

I'm currently running Proxyman under Big Sur 11.4 without any issues.

Look like the Proxyman Certificate is not trusted anymore in the System Keychain, after you upgrade to Big Sur. Factory Reset or delete the current certificate (Preference -> More button -> Delete) and install the certificate again,

[2021-06-16 02:18] NghiaTranUIT commented on #905
Done. Turn out we should not execute "AppCenter.configure(<secret_key>)" when Analytic and Crash services are disabled. 👍

[2021-06-16 12:10] NghiaTranUIT opened #906 "Bypass Proxy for External Proxy"
### Description
It's important to support a Bypass Proxy list in the External Proxy, so it doesn't proxy traffic from localhost (127.0.0.1 or 0.0.0.0). It's the same feature as a bypass list from Proxies in Network Preference,

### Acceptance Criteria
- Implement a Bypass list for the external proxy.

[2021-06-16 15:48] Hadleytron commented on #699
Thanks @NghiaTranUIT ! I tried deleting and installing a new certificate, but that has also not helped. This is my work laptop so I am not permitted to do a factory reset~ are there any other settings I might be able to re-configure?

[2021-06-16 15:58] NghiaTranUIT commented on #699
@Hadleytron Delete the certificate and reinstall it should work.

From your screenshot, I can see the HTTPS Request content, it means that the certificate is correct. The problem is that Proxyman could not connect to the destination server (Look at the Response time Column, it's 10 seconds, which mean the connection timeout)

I suppose that your work machine might be installed in any VPN app (It m

[2021-06-16 18:34] Hadleytron commented on #699
Hey @NghiaTranUIT ! So we are using Sophos, and verified that we are NOT using VPN when connecting to Proxyman, and Sophos central endpoint is on 10.0.4 version. Could there be anything else disrupting my connectivity?

[2021-06-16 21:12] crankygeek opened #907 "[Request] Allow modifying Scripting and Breakpoint Rules screens without having to first enable the feature"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.27.0 (22700)

### macOS Version? (Ex. mac 10.14)
macOS 10.15.7

I would like to be able to make changes to Scripts and Breakpoints without first having to check the "Enable" checkbox on each of these.

I've run into instances where I want to, for example, export some scripts, but can't without turning on the feature first. Also, it's impossible to resiz

[2021-06-16 21:15] crankygeek opened #908 "[Bug] Preserve column settings in Scripting and Breakpoint Rules screens"
Resizing columns and changing column order isn't preserved in the Scripting and Breakpoint Rules screens.

### Proxyman version? (Ex. Proxyman 1.4.3)
2.27.0 (22700)

### macOS Version? (Ex. mac 10.14)
macOS 10.15.7

### Steps to reproduce
1. Open Script List window
2. Enable Scripting Tool (minor typo - should maybe be "Enable" not "Enabled"
3. Resize the columns
4. Reorder the columns
5. Close th

[2021-06-17 01:51] NghiaTranUIT commented on #699
@Hadleytron Yes, the problem causes by Sophos. If you look at the Reference Doc, one of Proxyman user mention:
[code]

If you're using Sophos 10.0.4, you can use Network Proxy Extension and config a Proxy to 127.0.0.1 at port 9090 (where Proxyman is)

Sophos causes this problem to all web debugging proxy apps too, includes Proxyman, Charles Proxy, Fiddler,... and there is no reliable solution to m

[2021-06-17 01:55] NghiaTranUIT commented on #908
Thanks for your input. I will improve the table view of all debugging tool, so it can preserve the column state 👍

[2021-06-17 08:08] NghiaTranUIT commented on #908
Hey @crankygeek please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_TableView_Column_State.dmg 👍

## What's new
- Preserve the Column State of Table View from all debugging tools
- Allow opening the menu context (Right-Click) when the tools are disabled, which fixes the #907 issue. The Tableview is disabled (gray out) if the Enable Checkbox is uncheck

[2021-06-17 11:55] NghiaTranUIT commented on #906
For the sake of simplicity, we introduce the "Bypass for localhost", which fixes the user problem 👍

<img width="655" alt="Screen_Shot_2021-06-17_at_16_11_51" src="https://user-images.githubusercontent.com/5878421/122391833-826e1680-cf9d-11eb-809e-c8a7a5a4bbea.png">

Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Bypass_localhost_external_proxy.dmg

[2021-06-17 12:41] gronico opened #909 "NoProxy : External Proxy Settings"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.24.0 and other
### macOS Version? (Ex. mac 10.14)
Big Sur

Is it possible to have a "No Proxy" section in the "Tools / Proxy Settings / External Proxy settings"?
<img width="623" alt="Capture d’écran 2021-06-17 à 14 37 33" src="https://user-images.githubusercontent.com/29404200/122398151-e383f300-cf79-11eb-9fd3-2465236c5055.png">

It would be usefull.

[2021-06-17 12:43] NghiaTranUIT commented on #909
Hey @gronico, luckily that our team is working on it 👍

If you would like to bypass all localhost traffic from the external proxy, please check out this beta build: https://github.com/ProxymanApp/Proxyman/issues/906#issuecomment-863175816

[2021-06-17 16:30] crankygeek commented on #908
Hi @NghiaTranUIT

Saved column settings look good.

In the Scripting list, the new behavior to fix #907 feels a little odd:
- You can't left click to select a rule, though right-clicking does (these behaviors are the same in current release)
- When scripts are disabled, after a change is made to a rule, the selection automatically switches to the first rule in the list. For example, right-click on

[2021-06-18 06:02] NghiaTranUIT commented on #909
Hey @gronico please check out this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Bypass_External_Proxy.dmg

- Support Bypass External Proxy
- Support wildcard

<img width="830" alt="Screen_Shot_2021-06-18_at_11_30_26" src="https://user-images.githubusercontent.com/5878421/122513832-26ef6780-d035-11eb-9e38-ae9286ffe016.png">

[2021-06-18 06:03] NghiaTranUIT commented on #283
@crankygeek @Vrutin Sorry for the delay, but this feature is finally implemented 😄

Please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Bypass_External_Proxy.dmg

[2021-06-18 06:05] NghiaTranUIT commented on #834
Hey @grigorye, I'm so sorry about the delay of this feature.

Please check out this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Bypass_External_Proxy.dmg

It allows you:
- Define hosts or domain which bypasses the external proxy
- Support wildcard
- Always bypass all local traffic 👍

<img width="830" alt="Screen_Shot_2021-06-18_at_11_30_26" src="https://user-images

[2021-06-21 02:58] NghiaTranUIT opened #910 "[BUG] Response Panel in the Breakpoint doesn't display"
### Description
The Response Panel in the Breakpoint would not display under certain circumstances. It might occur because the window size is small.

### How to reproduce
1. Set a breakpoint for any request (Set for Request and Response)
2. Fire a request
3. The Breakpoint list will appear
4. Try to resize the window
5. Fire a request again
6. The Response Panel would not display

### Acceptance C

[2021-06-21 02:59] NghiaTranUIT commented on #910
Fixed: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.27.0_Fix_Breakpoint_Response_Panel.dmg

<img width="1653" alt="Screen Shot 2021-06-21 at 09 59 10" src="https://user-images.githubusercontent.com/5878421/122701385-57264880-d277-11eb-92cc-c5e0d410880d.png">

[2021-06-21 16:31] crankygeek commented on #283
@NghiaTranUIT Just confirming that this change still only affects Mac traffic and not remote devices? e.g., if I add `*.yahoo.com` to *Tools > Proxy Settings > External Proxy Settings...*, only traffic from the Mac (or simulators) to `www.yahoo.com` will be ignored. But visiting the same site from an iPhone would log the traffic?

[2021-06-21 16:34] crankygeek commented on #283
@NghiaTranUIT Just spotted a bug using the beta build of Version 2.27.0 (22700). While the modal for *External Proxy Settings...* is displayed, if you click the menu option again, when you close the modal, it will reopen. This appears to happen for each time you click the menu option, so if you open it, then click it twice, the modal will reopen and have to be closed two more times.

I wonder if m

[2021-06-22 01:02] julianozen commented on #383
+1 for this. this would be a huge win if we could copy the results as a CSV or similar and paste into Google Sheets / Excel. Charles offers this functionality

[2021-06-22 01:03] NghiaTranUIT commented on #383
Thanks for your upvote. Since it's straightforward to implement, we will ship it in the next two releases 👍

[2021-06-22 01:06] julianozen commented on #383
OMG such fast service. Thank you

[2021-06-22 01:28] NghiaTranUIT commented on #283
Thanks. It's a bug 😄

I've tested and the traffic from iPhone doesn't appear on the External Proxy Server.

Here is how I setup:
1. Open Charles Proxy at port 8080
2. Open Proxyman at port 9090
3. Set External Proxy to 127.0.0.1 port 8080 (Charles Proxy acts as an External Proxy)
4. Set *.producthunt.com in the bypass External Proxy

=> When making a normal request (e.g. google.com), I can see the

[2021-06-22 02:15] NghiaTranUIT opened #911 "[BUG] Missing WS/WSS Message when exporting as HAR from Proxyman app"
### Description
If we export the WS/WSS flows to the HAR file, the log doesn't contain any WS/WSS message.

To work around, we can export it as a ProxymanLog.

### Acceptance Criteria
- Export as HAR should contain the WS/WSS Message

[2021-06-22 10:27] shirshak55 commented on #383
@julianozen sarcasm ?

[2021-06-22 10:55] NghiaTranUIT commented on #911
Done in 2.28.0 👍

[2021-06-22 13:46] NghiaTranUIT opened #912 "Support MsgPack Previewer"
### Description
Some users would like to use Proxyman and inspect [MsgPack](https://msgpack.org/#json-to-msgpack)'s body. At the moment, they have to copy the binary string and preview it by using MsgPack Online Converter.

We should support this feature.

### Acceptance Criteria
- Automatically detect MsgPack from Content-Type Header
- Auto deserialize it and preview it as a JSON
- Support MsgPac

[2021-06-22 14:11] grigorye commented on #834
Hey @NghiaTranUIT, sorry for late notice: it works for me!

[2021-06-22 14:12] NghiaTranUIT commented on #834
Thanks for letting me know. This feature is released in the latest build 2.28.0. Please update it 😄

[2021-06-22 14:21] speekha opened #913 "[Nice to have] Allow to hide useless requests (without blocking them)"
### Proxyman version? Proxyman 2.24.0
### macOS Version? mac 10.15.6

When I connect my Android simulator to Proxyman, lots of requests go through that have zero interest to me (either from third party libs or apps). All those request tend to clog logs a lot with pointless information. The block list option can allow to remove some of those, except that blocking the request can alter the behavior

[2021-06-22 14:24] NghiaTranUIT commented on #913
If you use iOS Simulator, Proxyman is already hiding all unnecessary traffic from the iOS Simulator to Apple Server. However, it hasn't implemented for the Android Emulator yet.

Can you share with us the list of unnecessary APIs from your Emulator?

-------------------

To workaround, you can either:
1. Pin your working domain (Right Click on the domain -> Pin to Favorites)
2. Filter your working

[2021-06-22 14:29] crankygeek commented on #383
@NghiaTranUIT Just to be clear, copying the current results table to paste into a spreadsheet is still work in progress?

[2021-06-22 14:30] NghiaTranUIT commented on #383
Yes, it's. It will be implemented in 2.29.0 👍

Sorry for the delay because there are a lot of waiting features 😢

[2021-06-22 14:31] crankygeek commented on #283
Yup, completely misunderstood the feature. 😄

[2021-06-22 14:34] crankygeek commented on #594
FWIW, I was confusing this request with #283

[2021-06-22 14:41] crankygeek commented on #908
@NghiaTranUIT Pinging to make sure you saw this feedback ^ from the 2.28 beta build. Looks to still be applicable in the release.

[2021-06-22 14:46] crankygeek commented on #383
No worries. Just confirming since I didn't see it.

Too many waiting features is a sign of success! :)

[2021-06-22 14:55] julianozen commented on #383
@shirshak55 No! No sarcasm at all. I came across this post when searching for a way to export to CSV. I decided to add a +1 for the feature request and got a response in less then 1 minutes for @NghiaTranUIT saying it would be added in the next release.

Like magic!

[2021-06-22 17:12] ianbby opened #914 "Proxyman generates certs longer than 398 days; unsupported as of Sept 2020"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.27.0 (22700)
### macOS Version? (Ex. mac 10.14)
10.15
### Steps to reproduce
Install certificate into system store on Android (requires root)
### Expected behavior
Certificate works for all apps; instead, no connectivity is allowed due to too-long cert validity.
### Screenshots (optional)
![Validity](https://user-images.githubusercontent.com/77275484/12

[2021-06-22 17:26] NghiaTranUIT commented on #914
Thanks for the detailed report. Our team will check it out and sent you a Beta build this week 😊

[2021-06-22 22:01] speekha commented on #913
Well there are actually a lot of different URLs transiting through proxyman on my project, on a lot of different domains.
So on one hand, the requests I'm interested in are on several domains, so filter won't really work (but I guess I could pin all those domains). On the other hand, it's not just standard simulator stuff I want to filter out : we include a lot of third party libs that send reques

[2021-06-23 01:34] NghiaTranUIT commented on #913
So, if these unnecessary domains are not from a standard Android Emulator, it's impossible for us to automatically hide it.

On the other hand, it works for iOS Simulator, since they're all from *.apple.com.

I would like to recommend that you should pin your working domain, group it into a folder. Then selecting the folder -> It will list all traffic from these domains. Therefore, you can exclude

[2021-06-23 02:10] NghiaTranUIT commented on #914
Hey @ianbby please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Validity_397_Days.dmg

- Proxyman will generate a leaf certificate with 397 validity days.
- I suppose that it's not required for Proxyman Root Certificate, so it's 2 years by default.

<img width="555" alt="Screen Shot 2021-06-23 at 08 52 59" src="https://user-images.githubusercontent.co

[2021-06-23 07:14] NghiaTranUIT commented on #912
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Msgpack_Previewer.dmg

- Automatically convert MessagePack body to JSON (Content-Type = application/msgpack)
- Support MsgPack preview tab in Custom Previewer Tab

<img width="1901" alt="Screen Shot 2021-06-23 at 13 57 13" src="https://user-images.githubusercontent.com/5878421/123052521-1bcd7a80-d42d-11eb-999b-bb8368d2780c.png"

[2021-06-23 10:49] ianbby commented on #914
Hey Nghia! That was some wicked fast turn around, thank you! I gave the new build a go and can confirm that immediately had me sorted! Works perfectly with the new validity:
![Success1](https://user-images.githubusercontent.com/77275484/123084349-a0e17100-d3e6-11eb-9a6c-8c0f05ae4a65.png)
![Success2](https://user-images.githubusercontent.com/77275484/123084352-a2129e00-d3e6-11eb-8492-5880cf0d4622.p

[2021-06-23 18:44] JockerGG opened #915 "Proxyman response empty in all requests"
### Proxyman version? 2.28.0

### macOS Version?  11.2.1 Big Sur

### Steps to reproduce
The bug is that sometimes Proxyman fails all requests, returning an empty headers, empty body and nothing in the raw section.

If I remove the proxy overriding and I activate it again, all start working fine.

I couldn't find the precisely steps to reproduce.

### Screenshots

![image](https://user-images.gith

[2021-06-24 01:32] NghiaTranUIT commented on #914
Glad to know it works 😄 🌮

[2021-06-24 01:34] NghiaTranUIT commented on #915
Sorry to hear that. It must be a serious bug 😿

If you don't mind, please enable Debug Mode in Help Menu -> Enable Debug Mode... and follow the guideline.

As soon as you reproduce the bug, please share with me the Error Log (If it contains your private information, please send it to nghia@proxyman.io).

Thank you in advance 🙇

[2021-06-24 02:46] julianozen commented on #383
@NghiaTranUIT If its not too much trouble, would it be possible to get access to 2.29.0 a little early (this would save me a lot of time with my current project at work 😅 ). If its a big hassle, no worries

[2021-06-24 02:47] NghiaTranUIT commented on #383
Yes, I'm working on this feature. I will send you a BETA build this week 👍

[2021-06-24 02:48] julianozen commented on #383
@NghiaTranUIT You are awesome

[2021-06-24 07:13] NghiaTranUIT commented on #383
Hey @julianozen @crankygeek @shirshak55, please check out this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Export_As_CSV.dmg

From now, you can export selected requests/responses to the CSV file.

- CSV contains all essential fields like the Charles Proxy app
- It also contains the [Custom Header Column](https://docs.proxyman.io/basic-features/custom-header-column)

[2021-06-24 16:04] crankygeek commented on #383
@NghiaTranUIT This looks great!

I think I'd prefer if the export matched my current columns and column order, but I'm also okay with modifying the data in my spreadsheet app.

Only thing that seems to be missing is the Edit column. I can't think of any reason that I need it myself, but I could see it being useful for some folks, e.g. "Why is this request so out of whack with everything else in th

[2021-06-24 18:12] julianozen commented on #383
This rocks. This works as I was hoping for.

<img width="1680" alt="Screen Shot 2021-06-24 at 11 11 36 AM" src="https://user-images.githubusercontent.com/3589488/123312268-f39d5480-d4dc-11eb-8fd8-46f1bc9edfa1.png">

Now I plan to do this over about 30 screens to monitor the endpoints and duration of the requests

[2021-06-25 02:24] NghiaTranUIT commented on #383
Thanks for letting me know it work 👍

It's a good idea to provide an ability to edit the CSV columns @crankygeek, I will collect more requests and might implement it soon 👍

[2021-06-25 15:59] jeffh-cloudflare opened #916 "Enhancement Request - Disable Autostarting Capture On Launch"
Please consider adding an option to prevent Proxyman from automatically starting a capture when the application is first launched.

Today, Proxyman begins capturing HTTP requests as soon as the window finishes loading - this is not ideal for how I use the application.

Wireshark, HttpWatch, and Charles Proxy all provide this capability. It would be great to have it in Proxyman!

Thank you for your

[2021-06-26 01:23] NghiaTranUIT commented on #916
Hey @jeffh-cloudflare, you can opt-out this feature by going to Preference -> Uncheck "Auto Override System Proxy at Launch"

Proxyman won't override the system proxy, until you enable it (Tools -> Proxy Setting -> Override macOS Proxy or Shortcut: CMD+Option+O) 👍

<img width="702" alt="Screen_Shot_2021-06-26_at_08_21_27" src="https://user-images.githubusercontent.com/5878421/123497415-91b52a00-d6

[2021-06-26 10:48] NghiaTranUIT opened #917 "[BUG] Empty Label is displayed incorrectly"
### Description
The empty label is still displayed even though there are entries in the Table View. We should fix it 👍

<img width="1118" alt="Screen_Shot_2021-06-26_at_17_09_08" src="https://user-images.githubusercontent.com/5878421/123510538-673e8d80-d6a6-11eb-9a11-c2decf86c905.png">

### Acceptance Criteria
- The Empty Label should only appear if there is no entry.

[2021-06-27 02:09] NghiaTranUIT commented on #447
Hello @mattneub @hauleth @msivers @simonknittel @luckman212 @m-rots @Yuto-M

Good news that Reverse Proxy is finally implemented 🎉 😄

If you guys don't mind, please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Reverse_Proxy.dmg

### What's new:
- Reverse Proxy feature: You can connect to Proxyman local port, and it will forward your traffic to the rem

[2021-06-28 05:10] mattneub commented on #447
Sorry but I'm not seeing any evidence that this is working. I am trying to route to local rails server. I tried port 1000, remote host localhost or else localhost.proxyman.io, remote port 3000, but I see no evidence that any communication is even reaching the rails server, and no response appears within proxyman.

[2021-06-28 05:26] NghiaTranUIT commented on #447
Thanks for letting me know. I'm trying to reproduce your issue @mattneub 👍

[2021-06-28 06:03] NghiaTranUIT commented on #447
I'm not sure but I could not reproduce your issue @mattneub 😿

### Attempt 1: Use a simple Sinatra server
1. Prepare a simple ruby server at localhost:4567
[code]
2. Setup the Reverse Proxy like the screenshot
<img width="2279" alt="Screen_Shot_2021-06-28_at_12_50_05" src="https://user-images.githubusercontent.com/5878421/123587014-d257a380-d80f-11eb-8424-7c4745625d40.png">

=> I'm able to make a

[2021-06-28 06:16] NghiaTranUIT commented on #447
### Attempt 2 - Use my gogin local server at port 3000
1. Start my local server at port 3000
2. Setup the reverse proxy entry (Local Port = 10000, RemoteHost = localhost, RemotePort = 3000, PreserveHost = OFF)
<img width="920" alt="Screen Shot 2021-06-28 at 12 39 15" src="https://user-images.githubusercontent.com/5878421/123588647-47c47380-d812-11eb-842d-f5f96a14f000.png">

3. Open `127.0.0.1:1000

[2021-06-28 06:18] NghiaTranUIT commented on #447
@mattneub if you don't mind, please
1. Try to setup a Reverse Proxy Entry again (LocalPort = 10000, RemoteHost = localhost, RemotePort = 3000, PreverseHost = OFF)
2. Start your local server
3. Make a request `http://127.0.0.1:10000` by using curl
[code]

And see if it works or not.

Thank you in advance @mattneub 🙇

[2021-06-28 06:29] mattneub commented on #447
Yes, that works for me too — from the browser (Safari or whatever). I'll continue trying to make this more reproducible!

[2021-06-28 06:35] NghiaTranUIT commented on #447
Thanks 🎉 Feel free to reach out to me. I'm ready to fix the bug 😄

[2021-06-28 10:58] NghiaTranUIT commented on #917
Done 👍

[2021-06-28 19:59] mattneub commented on #447
I'm sorry, I don't know how to tell you how to reproduce. All I can say is that I have this app running on the Xcode Simulator. If I tell it to connect to Charles, Charles passes the messages on to my local rails server. But if I tell it to connect to Proxyman, it seems to see no server at all and no messages are passed to my local rails server.

[2021-06-29 02:41] mattneub commented on #447
OK, I've got it working! I changed Proxyman's reverse proxy port to 53004, to match what Charles was using.

<img width="443" alt="Screen Shot 2021-06-29 at 2 37 50 PM" src="https://user-images.githubusercontent.com/838939/123728652-b6273580-d8e7-11eb-813c-b9d5fcd3153f.png">

Using `http://127.0.0.1:53004/` my app running on the Simulator now passes thru Proxyman to the rails server at localhost 3

[2021-06-29 02:43] NghiaTranUIT commented on #447
Glad to know it works for you 🎉

I wonder why port 10000 doesn't work in the first place 🤔 I thought that we have to install & trust the Proxyman Certificate in your Simulator, but it's not the case.

[2021-06-29 02:56] NghiaTranUIT opened #918 "[BUG] Proxyman could not import Charles Proxy Setting"
### Description
If the Charles Proxy Setting is exported from Tools Menu -> Import/Export Setting, Proxyman could not import these settings due to inconsistent XML format.

### Workaround
We can workaround by open the Tool in Charles Proxy and Click the Export button instead of using "Import/Export Setting".

For instance, to export Breakpoint settings:
1. Open Charles Proxy -> Tools Menu -> Break

[2021-06-29 02:58] NghiaTranUIT opened #919 "Improve Light Theme color"
### Description
Some Proxyman Windows look really bad in the Light Theme. E.g. the background is too light, ...

We should fix it.

<img width="1032" alt="Screen Shot 2021-06-29 at 09 57 16" src="https://user-images.githubusercontent.com/5878421/123730345-65e8ad00-d8c0-11eb-824d-dbebc96cee43.png">

### Acceptance Criteria
- Improve color for the Light Theme

[2021-06-29 06:42] NghiaTranUIT commented on #918
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Fix_could_not_import_Charles_Proxy_setting.dmg

[2021-06-30 04:12] NghiaTranUIT opened #920 "[BUG] Missing Publish to Gist on Flow Menu"
### Description
Some users report that there is no "Publish to Gist" on the Flow Menu in the system NavBar. It's inconsistent with the Right-Context Menu, which has this button.

<img width="533" alt="Screen Shot 2021-06-30 at 11 10 41" src="https://user-images.githubusercontent.com/5878421/123900747-db717d80-d993-11eb-8fa1-c606dcc1ac78.png">
<img width="752" alt="Screen Shot 2021-06-30 at 11 10 2

[2021-06-30 07:08] NghiaTranUIT commented on #920
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Fix_Wording_and_Publish_To_Gist.dmg

[2021-06-30 18:47] inickt commented on #416
Would love to know if there are any updates on this, our backend microservices only talk over HTTP/2 and I would love to use Proxyman + the beta of the reverse proxy feature to improve my backend workflow.

That being said I switched over from Charles this week and it has been amazing for testing iOS things!

[2021-07-01 01:15] NghiaTranUIT commented on #416
Thanks for the upvote @inickt. Since the Reverse Proxy is almost done (we're going to release it in this week), so our team is working on the HTTP/2 👍

We will send a Beta build here when it's available 😄

[2021-07-01 14:01] akapitoha opened #921 "[Question] ignore mac os traffic"
Hi,

is it possible to ignore (don't decrypt) traffic from mac os? a setting maybe.

thank you

[2021-07-01 14:05] NghiaTranUIT commented on #921
Hey @akapitoha

By default, Proxyman doesn't decrypt traffic that goes through the Proxyman app. Proxyman acts as an HTTP Proxy Server, which proxies all data in between.

If you would like to decrypt the traffic in particular domains, you can Enable SSL Proxying on it (Right-Click on the request -> Enable SSL Proxying). You can check out the list of the domain which Proxyman will decrypt it in [S

[2021-07-01 14:14] akapitoha commented on #921
hey, that's what I was looking for, thank a lot!

[2021-07-01 14:14] #921 closed

[2021-07-01 14:14] NghiaTranUIT commented on #921
Glad to know it helps you 👍 😄

[2021-07-02 02:18] Brontojoris commented on #385
I too am interested in this feature.

Use case for me is:

Mac Development Machine with Charles Proxy > External Proxy > Second Mac with Charles + Open VPN connection to Remote location.
Mac Development machine can connect to remote location, while also being able to inspect local network traffic.

When I try the same setup with Proxy Man on Mac Development machine, it doesn't work.

I compared th

[2021-07-02 02:20] NghiaTranUIT commented on #385
Just wondering @Brontojoris, If you disable SOCKS Proxy on Charles Proxy. Does it work? 🤔

[2021-07-02 16:40] crankygeek commented on #913
I think this is a dupe of my request #594.

[2021-07-02 17:17] speekha commented on #913
@crankygeek Agreed. Sorry I didn't see yours.

[2021-07-02 17:19] crankygeek commented on #913
@speekha No worries! I just wanted to link the tickets. I probably should have worded that better.

[2021-07-03 09:50] NghiaTranUIT commented on #919
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.28.0_Improve_Layout_and_UI_for_Light_Theme.dmg

![Screen Shot 2021-07-03 at 16 24 40](https://user-images.githubusercontent.com/5878421/124350378-a3319f80-dc1e-11eb-9c8d-a4a6499b3254.png)

[2021-07-05 06:19] #477 closed

[2021-07-05 06:20] #508 closed

[2021-07-05 08:25] amirtechs opened #922 "999 Error Code"
### Proxyman version? (Ex. Proxyman 1.4.3)
Proxyman 2.28.0 (22800)

### macOS Version? (Ex. mac 10.14)
Mac 11.2.3

### Description
Hi there, previously it's working fine. However, after I enable SSL when debugging my iOS Simulator it's return error. When Proxyman is launched, it blocks the internet access to the browser and iOS Simulator. Had tried reinstall and format the certificate, the issue s

[2021-07-05 08:28] NghiaTranUIT commented on #922
When you enable SSL Proxying for Google Chrome. Are you able to access google.com or other websites?

Maybe you're using VPN app? 🤔

If not, please try Factory Reset in Help Menu -> Advanced to see if it works for you 👍

[2021-07-05 08:30] NghiaTranUIT commented on #922
For the iOS Simulator, Have you installed and trusted the certificate on your iOS Simulator 🤔 ?

You can do it automatically by using Certificate menu -> Install for iOS -> Simulator and follows these steps

[2021-07-06 01:19] NghiaTranUIT opened #923 "Helper Tool 1.3.0"
### Acceptance Criteria
- Graceful revert the Proxy Config if the app is crashed (Done in Helper Tool 1.2.0)
- When reverting the Proxy setting, Proxyman should change back to the original IP/Port
- Enable/Disable SOCKS Proxy (#181)

[2021-07-06 13:39] Brontojoris commented on #385
It doesn't work if I disable SOCKS proxy.

In fact, when using Charles on Mac Development Machine > External Proxy > Second Mac with Charles + Open VPN connection, I need to make sure that HTTP/HTTPS external proxy is disabled, and only SOCKS proxy is enabled, or it doesn't work.

The whole setup is quite delicate.

[2021-07-06 13:41] NghiaTranUIT commented on #385
Thanks for the hint. Our team is working on this feature 👍

[2021-07-07 06:10] NghiaTranUIT commented on #923
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Restore_Previous_Proxy_Setting.dmg

<img width="752" alt="Screen Shot 2021-07-07 at 10 44 52" src="https://user-images.githubusercontent.com/5878421/124708587-abdaec00-df24-11eb-9dc7-5724eb65a77b.png">

[2021-07-07 08:39] forcemax opened #924 "Proxyman for iOS is forcibly terminated by jetsam."
### Proxyman version? (Ex. Proxyman 1.4.3)
Proxyman 1.4.0 (10400) for iOS

### macOS Version? (Ex. mac 10.14)
iOS 15.0 beta 2 (iPhone 7), iOS 14.6 (iPhone 2020 SE)

### Steps to reproduce
I'm trying to log HTTPS requests with proxyman app on iPhone. The proxyman app was set with the following process, and then there was a problem that the recording stopped while testing with the Amazon Shopping ap

[2021-07-07 08:44] NghiaTranUIT commented on #924
Look like the VPN extension is crashed somewhere when intercepting the Amazon Shopping app.

Just wondering: Are you able to see HTTPS Traffic from other apps/websites? Such as visiting google.com in Safari? 🤔

[2021-07-07 08:46] NghiaTranUIT commented on #924
Preliminary investigation shows that "Kill by jetsam" because Proxyman VPN exceeds the memory limitation (https://developer.apple.com/forums/thread/106377)

Look like because you're using iPhone 7. Is there any chance that you can test it on the newest model?

[2021-07-07 09:39] forcemax commented on #924
Same thing happened when I tested on iPhone 2020 SE (iOS 14.6).

[2021-07-07 09:47] forcemax commented on #924
Yes. I was able to see HTTPS traffic from Safari to google.com using Proxyman for iOS.

However, when testing through the Amazon Shopping app, Proxyman for iOS stopped, so an issue was registered.

[2021-07-08 06:55] NghiaTranUIT opened #925 "[BUG] Could not parse MessagePack with correct ContentType"
### Description
If the Content-Type is `application/x-msgpack; charset=utf-8`, Proxyman could not pares the MessagePack body properly. We should fix it.

### Acceptance Criteria
- Able to parse `application/x-msgpack; charset=utf-8`

[2021-07-08 06:57] NghiaTranUIT opened #926 "Custom Scripting for Body Previewer"
### Description
Some users request that Proxyman would have a feature to write a custom Previewer with JS code.

For instance, the body is encrypted, which is not supported by Proxyman, the user would like to write a JS code to decrypt it for previewing without modifying the actual Body Data.

### Acceptance Criteria
- Find out a way that the user can write a Scripting for Previewer (Not manipulat

[2021-07-08 07:00] NghiaTranUIT commented on #363
Hey @shirshak55, if your app doesn't support Proxy, you can use [Reverse Proxy](https://docs.proxyman.io/advanced-features/reverse-proxy) to do it 👍

Here is the step:
1. Setup a Reverse Proxy Rule: For instance, Local Port = 10000, RemoteHost = <your_real_server>, Remote Port <your_real_port>
2. Open your app, and change the URL Production to `http://localhost:10000`
3. Proxyman will track all tr

[2021-07-08 09:41] NghiaTranUIT commented on #925
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Fix_Messagepack.dmg

[2021-07-08 11:24] shirshak55 commented on #363
actually, this is not going to work because cli apps don't cooperate and cli apps or some GUI apps don't have proxy information. I am mostly talking from a reverse engineering perspective.  Just try firefox with no system proxy option and you still want to enforce traffic from proxy man it seems impossible right? But adguard somehow works idk how.

[2021-07-09 10:08] NghiaTranUIT commented on #385
Hi @Brontojoris, I'm working on the SOCKS External Proxy, and I have a question:

As you mention in your previous comment: On `Second Mac with Charles + Open VPN`, do you enable SOCKS Proxy in Proxyt Menu -> Proxy Setting? (Screenshot)

<img width="704" alt="Screen_Shot_2021-07-09_at_17_06_31" src="https://user-images.githubusercontent.com/5878421/125062050-3021a080-e0d8-11eb-91e7-b9296879c153.png

[2021-07-09 11:01] cameroncooke opened #927 "Inactive tabs shouldn't capture network traffic"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5268h)

### Steps to reproduce

1. Select a domain or pin
2. Capture some traffic
3. Open new tab and select the same domain or pin
4. Observe that any further traffic is captured on both tabs even the in-active tab
5. Tap the delete button
6. Observe that the logs are cleared on both the

[2021-07-09 12:01] cameroncooke opened #928 "When opening saved sessions, tab title doesn't reflect session name"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5268h)

### Steps to reproduce

1. Save a session and give it a name of "test1"
2. Save another session and give it a name of "test2"
3. Close all the Proxyman windows and tabs
4. Open the `test1.proxymansession` file
5. Open the `test2.proxymansession` file
6. Observer that the two restor

[2021-07-09 12:04] cameroncooke opened #929 "Saving a session should only save the captured traffic in the active tab"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5268h)

### Steps to reproduce

1. Capture traffic in default tab
2. Open new tab capture further traffic
3. Save the session
4. Close all windows and tabs
5. Open the saved session
6. Observe the restore session tab now has all the traffic that was recorded instead of the recorded traffic

[2021-07-09 12:06] cameroncooke commented on #922
I've also seen the 999 error quite a lot which I don't really understand because I'm sure `999` is not a valid HTTP status code. It feels like Proxyman is handling some kind of internal error by returning a response from the proxy which doesn't feel right to me.

[2021-07-09 12:09] cameroncooke commented on #412
Does this work with mutations as well or just queries?

[2021-07-09 12:29] NghiaTranUIT commented on #412
It works with mutation too @cameroncooke

For instance, the QueryName is `ViewerNotificationsLastSeenUpdate` in this graphQL Body.
[code]

[2021-07-09 18:25] jakepfaffenroth opened #930 "Update menubar icon to reflect proxy overridden on/off state"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.29

### macOS Version? (Ex. mac 10.14)
11.5

### Expected behavior
It would be very useful to be able to see at a glance if the proxy is currently being overridden by simply looking at the menubar icon.

An idea is to have the helmet visor be solid if the proxy is NOT being overridden, and transparent if it IS being overridden.

[2021-07-09 19:57] danimal commented on #483
It would be great to also support the `.chlsj` (Charles JSON) files. I know we can use `.har` and I have been doing that to great success. I sometimes get `.chlsj` files from people that have Charles Proxy for iOS and ProxyMan can't open them. If this needs to be a new Issue I can do that as well.

[2021-07-09 20:28] danimal opened #931 "Support for importing Charles JSON format files"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)
11.4

### Steps to reproduce

1. Open Charles Proxy on iOS
2. Capture traffic
3. Export session as a `.chlsj` JSON-formatted Charles file
4. Open ProxyMan
5. Select File > Open… and select the `chlsj` file from the file browser
6. The `chlsj` file is unable to be selected.

### Expected behavior

Proxyman

[2021-07-10 00:58] NghiaTranUIT commented on #931
Thanks for opening the ticket and the attached file. It definately helps me to reproduce the bug @danimal 🙌

I'm working on it now 👍

[2021-07-10 00:59] NghiaTranUIT commented on #930
Thanks for the great idea. I've never thought that it should be. I'm going to support it in the next release 👍

[2021-07-10 01:04] NghiaTranUIT commented on #927
Thanks for the insight 👍 It's reasonable that Proxyman should not capture traffic from inactive tabs.

For the Request/Response comparison, there is better solution 😄.

We are working on the Diffing feature (#567), so you can compare two or multiple items like the Diffing tool in Github. Therefore, it's easier to distinguish what it's added, removed, changed.

[2021-07-10 01:06] NghiaTranUIT commented on #922
yes, 999 is an internal code. I suppose that I should remove it, and improve the wording for common SSL error from Swift NIO 👍

[2021-07-10 08:53] NghiaTranUIT commented on #931
Hey @danimal please check out this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Import_chlsj_files.dmg

### What's new
- Drag & drop the `chlsj` file and directly open it with Proxyman app
- Fix crashed when opening the HAR file, which is exported from the `chlsj` file

### Notes
This version will require you to update a new Helper Tool (v1.3) https://github.com/Pro

[2021-07-11 02:31] NghiaTranUIT commented on #930
@jakepfaffenroth this feature is implemented on this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Status_Bar_new_icon.dmg

I update the icon, which is rounded and feel better than the old version IMO 👍

## Notes
This update will require you to update the Helper Tools v1.3, as a part of this ticket #923

## Screenshots
<img width="855" alt="Screen Shot 2021-07-11 at

[2021-07-12 14:31] NghiaTranUIT commented on #928
hey @cameroncooke, this issue is fixed in this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Fix_window_title.dmg

From now, the window which is created by a Session file will have a filename as a prefix 👍

### Notes
This update will require you to update Helper Tool v1.3.0 as a part of this ticket #923

### Screenshot
<img width="1773" alt="Screen_Shot_2021-07-12_at

[2021-07-12 15:41] danimal commented on #931
@NghiaTranUIT Thanks for the really quick reply! Both the `chlsj` and the exported `chls` from a `chlsj` work great! I was even able to open a 4.5GB `chlsj` file we gathered from on-device testing. Thank you again for the quick work.

I also really appreciate the Helper Tool upgrade message on app launch. Great work.

[2021-07-13 01:37] NghiaTranUIT commented on #931
Glad to know that it works for you 💯 🎉

[2021-07-13 07:51] blanxii commented on #721
Same here, just disabled the ublock from chrome and application starts.

[2021-07-13 08:06] NghiaTranUIT opened #932 "[BUG] WS/WSS doesn't work if External Proxy is enabled"
### Description
If we are using an External Proxy (HTTP/HTTPS or SOCKS), WS/WSS might not work anymore.

### Acceptance Criteria
- WS/WSS should work with External Proxies

[2021-07-13 14:51] NghiaTranUIT commented on #932
Fixed with this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_SOCKS_Proxy_for_External_Proxy.dmg

[2021-07-13 14:53] NghiaTranUIT commented on #385
Hey @Brontojoris @JasonBoy @shirshak55, if you don't mind, please check this Beta build:  https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_SOCKS_Proxy_for_External_Proxy.dmg

Proxyman supports SOCKS Proxy as an External Proxy (Tools Menu -> Proxy Setting -> External Proxy)👍

<img width="677" alt="Screen Shot 2021-07-13 at 21 52 21" src="https://user-images.githubusercontent.com/587

[2021-07-15 00:58] Brontojoris commented on #385
Amazing! Working perfect for me! Thanks very much for such a quick turnaround

[2021-07-15 01:50] NghiaTranUIT opened #933 "Export Raw data of selected Requests and Responses"
### Description
Some users would like to save the raw data of request and response to a text file, so they can inspect it later.

It's possible by using [writeToFile()](https://docs.proxyman.io/scripting/snippet-code#write-export-to-a-local-file) function of the Scripting.

However, we should support a user-friendly solution.

### Acceptance Criteria
- Add Export Raw Data on the Right Menu-Context

[2021-07-15 04:49] shirshak55 commented on #385
@NghiaTranUIT  to add more for socks proxy we can just use ssh server. My second comment or third comment address this :D

[2021-07-15 08:10] cameroncooke commented on #928
Brilliant thanks, works perfectly.

[2021-07-15 08:12] cameroncooke commented on #927
Diffing would be great. My feedback here is really based on using Charles which has these behaviours and it kind of makes sense, if every tab is just a copy of the previous and all active they don't really have much use.

[2021-07-15 08:20] cameroncooke commented on #929
This is to mimic how Charles works, the tabs are more powerful in Charles as you only have one tab that's ever recording. The only reason I can see that you might want to use tabs is to capture snapshots of history in order to save or compare them.

Just checking Charles again and it looks like I was wrong it's the inactive tab that stops recording, the newly created tab starts recording from the

[2021-07-15 08:26] cameroncooke opened #934 "Restoring Proxyman windows doesn't restore saved session tabs"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5284e)

### Steps to reproduce

- Open Proxyman
- Record some traffic and save the session to a file called "A"
- Record some more traffic and save the session to a file called "B"
- Close all the Proxyman tabs and then the main window
- Open the file "A.proxymansession"
- Open the file "B

[2021-07-15 08:58] cameroncooke opened #935 "Can't edit and save previously saved sessions"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5284e)

### Steps to reproduce

1. Open Proxyman
2. Record some traffic
3. Save the session to disk and name it "A"
4. Close all the Proxyman tabs and windows
5. Quit Proxyman using Cmd+Q
6. Open the file named "A.proxymansession"
7. Edit the recorded history by deleting some requests
8. A

[2021-07-15 09:46] cameroncooke opened #936 "Opening HAR files doesn't open in a tab"
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5284e)

### Steps to reproduce

1. Open Proxyman
2. Record some traffic
3. Select some of the traffic and right-click and tap "Export -> as HAR"
4. Give the file a name "A"
5. Close all the Proxyman tabs and windows
6. Quit Proxyman using Cmd+Q
7. Open Proxyman
8. Observe that live traffic

[2021-07-15 10:05] cameroncooke opened #937 "When clearing session, Proxyman also cleared HAR "Pins""
### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5284e)

### Steps to reproduce

1. Open Proxyman
2. Record some traffic
3. Select some of the traffic and right-click and tap "Export -> as HAR"
4. Give the file the name "A"
5. Close all the Proxyman tabs and windows
6. Quit Proxyman using Cmd+Q
7. Open Proxyman
8. Now open the HAR file n

[2021-07-15 10:07] NghiaTranUIT commented on #936
Sorry, but it's our intention. When opening a HAR file, it will add to the Pin folder, not opening a new Tab.

We decide to follow this because there are many users who would open multiple HAR files to inspect their log, and it's really inconvenient to open each HAR file as a new tab.

[2021-07-15 10:13] NghiaTranUIT commented on #935
It's a big obstacle that Proxyman is facing. We implement the document-based app incorrectly. Therefore, when we open a Session file, it doesn't support Auto-Save, or all native features of the Document-based app could benefit.

In order to fix it, we have to refactor how we implement this feature.

I highly recommend exporting as a ProxymanLog (Select your requests -> Right Click -> Export -> Pro

[2021-07-15 10:31] cameroncooke commented on #935
Yeah, I think the document-based app design needs some work ;-) but it's all good. Great work on Proxyman I'm love it, hence all the feedback!

[2021-07-15 10:33] cameroncooke commented on #936
I see that's fair.

[2021-07-15 10:47] cameroncooke opened #938 "Map remote: Can't map two URLs with partial path matching"
I want to map the following URL to the target URL while preserving **some** of the path:

[code]

I want to use the path from the `*` onwards as the entire path to be used as the input on the target path.

Example matches would be:

[code]

I can't see a way to do this currently because the Map Remote tool allows you to replace the entire path but not match part of the path.

I thought about using

[2021-07-15 10:53] cameroncooke opened #939 "Feature request: Add buttons to toolbar for quickly disabling/enabled breakpoints, map remote, map local and network conditions"
Would be useful to have easy to access buttons to globally enable and disable:

- Breakpoints
- Map Remote
- Map Local
- Network Conditions

Quick often I want to disable and enable breakpoints many times in testing and at the moment it's 4 clicks to do so. On Charles, it's a single click on the breakpoints toolbar icon.

It would be useful to be able to do this for all other features that have a

[2021-07-15 10:57] cameroncooke opened #940 "Feature request: Show map remote/local details in Request Summary"
When a request has been mapped using Map Remote or Map Local show the rewritten URL and original URL in the Request Summary. This will aid debugging mapping rules as it's not currently clear is a request has been successfully mapped or not.

### Proxyman version? (Ex. Proxyman 1.4.3)

2.29.0 (22900)

### macOS Version? (Ex. mac 10.14)

12.0 Beta (21A5284e)

### Steps to reproduce

### Expected beh

[2021-07-15 11:05] NghiaTranUIT commented on #939
Thanks for your valuable insight from the Charles 👍

Instead of putting these toggles on the status bar (4 toggle buttons), which might make the app is too more **complicated**, I think that we can:
1. Add a global shortcut for toggling all tools.
For instance, OPT+CMD+B will open the Breakpoint window. SHIFT+CMD+B will toggle the feature (ON/OFF).
OPT+CMD+L will open the Map Local Window => SHIFT

[2021-07-15 11:08] cameroncooke commented on #939
I have a terrible memory for shortcut keys so by all means add them but I wouldn't use them. I do better with icons so if there were buttons on the main toolbar and/or the ProxyMan menu bar that would be great.

[2021-07-15 11:11] NghiaTranUIT commented on #939
Yes, it's a trade-off. Most people don't remember a shortcut.

I suppose that I can support "Customize ToolBar" as the Finder app does 😄

I will implement this feature, and you can drag the tool button you like on the status bar as you need 👍

By doing this way, it doesn't mess up the UI in general and can serve you better 👍

<img width="216" alt="Screen Shot 2021-07-15 at 18 09 12" src="https://u

[2021-07-15 12:13] cameroncooke commented on #939
Excellent, that was the first thing I looked for, I was right-clicking the toolbar like a crazy person! haha

[2021-07-16 09:04] NghiaTranUIT commented on #933
Done with Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.29.0_Export_Raw_Request_Response.dmg

<img width="883" alt="Screen Shot 2021-07-16 at 15 31 02" src="https://user-images.githubusercontent.com/5878421/125922704-b6abfb43-4187-4a4d-b5e2-0dcae21508af.png">

[2021-07-16 18:44] robmathers commented on #939
I'll just add my +1 for a customizable toolbar with more options. It makes sense that the default configuration would be simpler, but adding more options to it would be great, as well as good practice for a Mac app!

[2021-07-17 01:32] NghiaTranUIT commented on #939
Thanks @robmathers. I'm working on this feature and soon sent you guys a Beta build 😄

[2021-07-20 04:37] lorddaedra opened #941 "Reverse proxy for development needs"
I have Django&Ariadne (RESTful and GraphQL) backend server on 127.0.0.1:8000 (core.mycompany.com in production). Also I have Vite&Vue.js frontend server on 127.0.0.1:3000 (console.mycompany.com in production environment).

I edited /etc/hosts and included my dev domains and configured domain cookies to .mycompany.local for development environment.

[code]

Now I would like to create some kind of r

[2021-07-20 04:54] NghiaTranUIT commented on #941
Hey @lorddaedra, please try either following the Reverse Proxy Rule (Please enable one at a time) and test it.

You can use `https://console.mycompany.local`

### Proxy to your real production (https)
Browser <--(HTTPS)-> Proxyman <--(HTTPS)-> Real production server

<img width="1032" alt="Screen Shot 2021-07-20 at 11 48 37" src="https://user-images.githubusercontent.com/5878421/126263579-670512bb

[2021-07-20 07:51] lorddaedra commented on #941
@NghiaTranUIT Thank you for answer!

Can I configure several subdomains (console.mycompany.local and core.mycompany.local) with same local port (443)?

Browser <--(HTTPS)--> Proxyman (console.mycompany.local:443) <--(HTTP)--> 127.0.0.1:3000
Browser <--(HTTPS)--> Proxyman (core.mycompany.local:443) <--(HTTP)--> 127.0.0.1:8000

[2021-07-20 09:50] NghiaTranUIT commented on #941
It's possible but we have to create two Reverse Proxy at two different **Local Ports**. One for the Console and One for the Core.

-----------------------

I suppose we can use **Map Remote**, which is easier @lorddaedra 😄

Please try to create two Map Remote Rules like the following screenshot

<img width="1316" alt="Screen Shot 2021-07-20 at 16 44 44" src="https://user-images.githubusercontent.c

[2021-07-22 01:28] lorddaedra commented on #941
@NghiaTranUIT Thanks again for answer!

I think, I should say about 2 things here.

1. About my task

Goal of that setup: check correct work of secure cross-subdomain sessions and auth between two dev local subdomains, only .local subdomains (127.0.0.1) used here.

You wrote:

But actually I need these rules:

https://console.mycompany.local:443 -> Will map to http://127.0.0.1:3000 (or http://cons

[2021-07-22 02:09] NghiaTranUIT commented on #941
Thanks for getting back to me @NghiaTranUIT.

You don't need to execute any command after reinstalling the Proxyman app. For the network configuration, Proxyman automatically executes `networksetup` (if you haven't installed [Helper Tool](https://docs.proxyman.io/basic-features/proxy-setting-tool)), or use Helper Tool to override the network config.

For the first question, I'm reading it and answ

[2021-07-22 04:49] lorddaedra commented on #941
2.) Looks like there are several bugs:

a.) Open apple.com in Safari ```handshakeFailed(NIOSSL.BoringSSLError.sslError([Error: 268435613 error:1000009d:SSL routines:OPENSSL_internal:INAPPROPRIATE_FALLBACK]))```,  but In Brave Browser (Chromium based browser) it works...

b.) Need disable and exit from ProtonVPN app. Even if `Kill switch` is Off in ProtonVPN settings, requests not logged in Proxyma

[2021-07-22 04:55] NghiaTranUIT commented on #941
It's because of the SSL-Pinning if we try to intercept apple.com traffic from `Safari`. Chrome, Firefox, and Brave work fine. This issue occurs on other Web debugging proxy apps too, such as Charles, Fiddler, and Burp Suite.

From what I know so far, there is no way to bypass the SSL-Pinning.

If you could not see traffic on Proxyman when using ProtonVPN, please go to Network Preference -> Wifi ->

[2021-07-22 05:12] lorddaedra commented on #941
1. I connect to ProtonVPN server. Now sites works in browser, traffic not logged in Proxyman. I checked proxy, 127.0.0.1:9090 enabled for http and https traffic for both Ethernet and Wi-Fi.
2. I disconnect. Now nothing works, I do not see anything in browser.
3. I restart Proxyman. Now I get a big list of requests and it works fine.

[2021-07-22 05:14] NghiaTranUIT commented on #941
Thanks for the hint @lorddaedra. Basically, Proxyman and other web debugging proxy apps might conflict with VPN apps. Some might work, some might not 😢

I collect all VPN feedback here https://docs.proxyman.io/troubleshooting/proxyman-does-not-work-with-vpn-apps

Meanwhile, I will try to reproduce it on my end and see if I can fix it.

[2021-07-22 05:28] lorddaedra commented on #941
It's okay for me to disable ProtonVPN during development. But it's nice to have feature to make them compatible to each other (of course, if `Kill switch` is Off in ProtonVPN connection settings, this is expected behaviour in that case).

I also suggest to install Docker for Mac too during testing.
https://docs.docker.com/docker-for-mac/install/
It could affect or not because of it add some rules

[2021-07-22 14:10] NghiaTranUIT opened #942 "[BUG] Content-Length is added when proxying data to the server"
### Description
For some reason, Proxyman adds the `Content-Length: 0` header on POST Request (Empty Body) before proxying to the server. We should find a way to prevent it.

### Acceptance Criteria
- Proxyman should not add Content-Length Header to the request.

[2021-07-22 21:51] lorddaedra commented on #941
This is how I solved it (I did it without Proxyman but I think it looks as good feature for Proxyman):

So

0. Add `127.0.0.1 core.mycompany.local console.mycompany.local` to the end of `/etc/hosts`
1. ```brew install caddy nss```
2. ```caddy trust```
3. ```vim /usr/local/etc/Caddyfile```
[code]
5. ```brew services start caddy```

If it's possible to do somehow via Proxyman in current version, ple

[2021-07-23 10:31] NghiaTranUIT commented on #942
SwiftNIO: https://github.com/apple/swift-nio/issues/1915

[2021-07-25 14:57] NghiaTranUIT opened #943 "Support JSONPaths for JSON View"
### Description
We should implement a better version of JSONPaths for Proxyman JSON Previewer 👍

For instance
[code]
would return the array of books in a given JSON.

<img width="855" alt="Screen_Shot_2021-07-25_at_21_54_45" src="https://user-images.githubusercontent.com/5878421/126903556-8549c0e4-a0e7-4545-9a35-00299848b74a.png">

### Acceptance Criteria
- Implement JSONPaths in JSONPreviewer

[2021-07-26 23:07] mprice-banno commented on #739
Just checking in again, my list of scripts is getting bigger ;-) Any updates on this one?

[2021-07-27 06:50] NghiaTranUIT commented on #739
@mprice-banno We're still working on it 🙇 . Sorry for the delay since we have to implement other features (Socks, http/2), which is in high priority.

[2021-07-28 11:39] alextesttesttest commented on #119
It would be great to be able to create custom throttling profiles, or at least have more presets to choose from.

I'd like to see presets for really poor 2G/3G where bandwidth is ~5 kbps and packet loss around 10%.

I'm also not seeing @sewar 's proposal to show requests with the 100% Loss profile, which would be really good to have to confirm client behaviour.

[2021-07-28 13:10] NghiaTranUIT commented on #119
Thanks for the request @alextesttesttest. I totally agree that we should be able to customize our own network profile 👍 I will put this feature in high priority 👍

[2021-07-28 21:48] mprice-banno opened #944 "Enable a disabled filter if it is updated."
### Proxyman version? (Ex. Proxyman 1.4.3)

 2.30.0 (23000)

### macOS Version? (Ex. mac 10.14)

11.4

### Steps to reproduce

I frequently disable  filters I have configured, and then at some point later I change it in some way, for example changing the type, method or text to search on etc. I'm expecting that will enable the filter again, but it doesn't and I normally a few minutes trying to fig

[2021-07-29 01:41] NghiaTranUIT commented on #944
Thanks for your insight @mprice-banno 🙇

I would like to introduce an Option: "Auto enable filter when it's updated" in Preference -> Advance to fit with your need and it doesn't change the default behavior.

I will implement and send you a beta this week 👍

[2021-07-29 16:15] crankygeek commented on #908
@NghiaTranUIT Sorry to bug you, but I wanted to make sure you saw my feedback on this change. Would you prefer I file separate issues for them?

[2021-07-29 16:18] NghiaTranUIT commented on #908
Sorry, I totally miss it. I will move it to Proxyman Proxyman 2.33.0 👍 😄

[2021-07-29 16:54] caioaugustofr opened #945 "Some iOS apps does not show traffic"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.30.0
### macOS Version? (Ex. mac 10.14)
Big Sur (11.2)
### Steps to reproduce
I configured the proxy on my iOS device to start monitoring traffic. When I open Safari and type an URL (even if HTTPS), I can see its traffic, however, when I open a certain app, I cannot see the traffic generated by it. The app in question is called "Tecnofit Box". I can mak

[2021-07-29 18:22] mprice-banno opened #946 "Add "Don’t wait for Response" (Mock API) for scripts"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.30.0 (23000)
### macOS Version? (Ex. mac 10.14)
11.4
### Issue

Currently it is not possible to use a mapped response, for example map to local, and then modify that response based on the request. The usage example is updating a JWT authentication token that is in the local mapped response, but that has expired and can be obtained from the request.

Fea

[2021-07-30 13:08] onikishov commented on #945
I have the same issue with Clubhouse app.

[2021-07-30 13:11] NghiaTranUIT commented on #945
After setting HTTP Proxy on your iPhone and you can see HTTPS Traffic (from Safari iOS) on the Proxyman app, it means you've set it up properly.

I'm not sure why some app traffic doesn't go through Proxyman via HTTP Proxy. Let me download the app and check it 👍

[2021-07-30 13:12] NghiaTranUIT commented on #945
@onikishov Just wondering:
1. Set HTTP proxy on wifi in your iPhone to Proxyman
2. Open Safari iOS -> visit https://google.com
3. Do you see the traffic on Proxyman app?

[2021-07-30 13:17] onikishov commented on #945
@NghiaTranUIT Yes, I see all traffic from Safari browser and many other apps, but not from this one. It seems like the app is ignoring proxy settings.

[2021-07-30 13:23] NghiaTranUIT commented on #945
@onikishov I've downloaded the lasted Clubhouse app, and I'm able to see its traffic

<img width="1733" alt="Screen_Shot_2021-07-30_at_20_21_30" src="https://user-images.githubusercontent.com/5878421/127659124-a340f608-0c02-449d-9397-94eaa372ec49.png">

Can you check other apps (such as Product Hunt, Unsplash, ...), which don't have SSL-Pinning.

[2021-07-30 13:31] NghiaTranUIT commented on #945
@caioaugustofr I tried Proxyman on your app, and it looks like Tecnofit Box is using Firebase for the authentication & APIs.

If it's, we could not intercept Firebase traffic because it doesn't use the HTTP transport layer.

<img width="1526" alt="Screen_Shot_2021-07-30_at_20_27_55" src="https://user-images.githubusercontent.com/5878421/127659987-7996b400-d9c7-47b6-94c5-cb38d26d306a.png">

Ref: ht

[2021-07-30 16:45] onikishov commented on #945
@NghiaTranUIT Many thanks for investigating the issue. It seems the problem with my iPhone. Tried another iPhone, works fine.

[2021-07-30 17:10] onikishov opened #947 "Some macOS apps do not show traffic"
### Proxyman version?
Version 2.30.0

### macOS Version?
10.15.7

### Steps to reproduce
I downloaded desktop app for Clubhouse called Clubdeck. When I logged in, Proxyman showed a lot of traffic, but there were no Clubhouse API requests.
<img width="1440" alt="Screen Shot 2021-07-30 at 20 03 07" src="https://user-images.githubusercontent.com/11440372/127687539-29738756-02fd-406b-9ebb-4bcc8ab13de1

[2021-07-30 22:30] caioaugustofr commented on #945
@NghiaTranUIT, thanks for the info. So, in other words, it is not possible to intersept the traffic of this app?

Another thing, I tried it with android emulator. It shows a request made to rest.tecnofit.com.br, however, I cannot see its content, because I get ssl handshake failed.

[2021-07-31 00:57] NghiaTranUIT commented on #945
@caioaugustofr Yes, there is no way to intercept Firebase SSL traffic.

Regarding the Android app,
1. Do you installed & trusted Proxyman Certificate on your Android Emulator?
2. Have you added a config to security.xml and manifest.xml? (Step 4 in this guideline https://docs.proxyman.io/debug-devices/android-device)

Both steps are required in order to intercept HTTPS Traffic from Android app.

[2021-08-01 02:08] NghiaTranUIT commented on #947
Hi @onikishov, I've downloaded Clubdeck app and investigate your issue:

It turns out that some Clubdeck traffic doesn't go through System HTTP Proxy (IP 127.0.0.1, port 9090), so Proxyman could not capture it.

I tested again on Charles Proxy and Fiddler too, and they **could not** capture it. However, Wireshark is able since it works in lower level => Which means it can capture all incoming/outg

[2021-08-01 04:05] NghiaTranUIT commented on #943
Done with beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.30.0_JSONPath.dmg

<img width="918" alt="Screen_Shot_2021-08-01_at_10_29_35" src="https://user-images.githubusercontent.com/5878421/127758792-b5cad843-e61a-4133-b59b-ea40c8510193.png">

<img width="887" alt="Screen_Shot_2021-08-01_at_10_29_23" src="https://user-images.githubusercontent.com/5878421/127758786-75298e8b-c729-4

[2021-08-01 11:44] Drovosek01 opened #948 "SSL Handshake Failed when listen Python"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.30.0

### macOS Version? (Ex. mac 10.14)
macOS 10.14.6

### Steps to reproduce
1. Execute in terminal - `/bin/bash -c "$(curl -fsSL https://gist.githubusercontent.com/ThisIsNoahEvans/f595e2e59ff4a00fdcf2decdc4415428/raw/install.sh)"`
2. Start listen Python in ProxyMan
3. Open Adobe Packager.command in Application folder

### Expected behavior
I expect t

[2021-08-01 13:23] NghiaTranUIT commented on #948
Hey @Drovosek01 Thanks for the report.

From the last screenshot, it seems Python doesn't trust self-signed certificate by default. As a result, SSL would be failed.

You have to tell Python to use Proxyman Root Certificate at `~/.proxyman/proxyman-ca.pem` (I assume that you've installed and trust the Certificate, if not please follow Certificate Menu -> Install Certificate on This Mac).

Here is

[2021-08-01 21:07] sleeve opened #949 "Unable to sort columns within SSL Proxying Lists"
### Proxyman Version
Proxyman 2.30.0 (23000)

### macOS Version
macOS Monterey 12.0 Beta (21A5294g)

### Description
I've recently started doing a lot of auditing in my recordings of third-party domains/services that use SSL Certificate Pinning. After adding all the domains to the SSL Proxy Include List, I have to manually go through all the subsequent calls and then for the ones that failed with

[2021-08-01 21:40] Drovosek01 commented on #948
Thank you very much, I managed to fix the error with Python only on the third attempt, when I saved this in bash_profile

![image](https://user-images.githubusercontent.com/29478700/127785714-3a0c1a47-46ab-4745-96b1-af2d23550743.png)

It seems to me that it will be useful to add this information to the Proxyman documentation and to the menu items, where the "Install Certificate on" items are..."

[2021-08-02 01:57] NghiaTranUIT commented on #948
Glad to know that it works 😄

It makes sense to add this document to the Certificate Menu. I'm going to implement it now 👍

[2021-08-02 02:08] NghiaTranUIT commented on #949
Thanks for your detailed insight @sleeve 👍 It makes sense to support Sorting on the SSL Proxying list.

Regarding other tools (Map Local, Breakpoint, ...), the reason I haven't implemented it because the matcher would go from top to end of the rule list. Therefore, if we can sort the column, it might change the expected result.

[2021-08-02 02:15] NghiaTranUIT opened #950 "Generate Root Certificate by BoringSSL"
### Description
At the moment, Proxyman uses `openssl` CLI to generate a root certificate. It works fine 99%, but 1% gets errors due to the different OpenSSL versions of the end-user machine.

On Proxyman for iOS, we are using built-in BoringSSL to generate the certificate programmatically, it's time to bring it to macOS.

### Acceptance Criteria
- Programmatically generate Root Certificate by Bor

[2021-08-03 03:10] XGFan commented on #181
it is 2021 now, is there any news?

[2021-08-03 03:10] NghiaTranUIT commented on #181
Hey, if you're looking for External SOCKS Proxy, it's done at #385

[2021-08-03 05:36] NghiaTranUIT opened #951 "[BUG] Could not install certificates for iOS Simulator due to invalid xcrun"
### Description
In certain situations, `xcrun` is invalid. Therefore, Proxyman could not install the certificate to iOS Simulators. We should fix it.

![unnamed](https://user-images.githubusercontent.com/5878421/127963069-0d9221f7-d800-479b-9860-579f7e2f7d5b.png)

### Acceptance Criteria
- Get the error code and show the solution to fix it.

### Solution
Go to Xcode -> Preferences -> Location Tab

[2021-08-03 10:54] NghiaTranUIT commented on #948
Done 🎉  Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.30.0_Update_Certificate_guideline_for_ruby_and_python.dmg

<img width="525" alt="Screen Shot 2021-08-03 at 17 52 57" src="https://user-images.githubusercontent.com/5878421/128003904-3aa897cb-5d89-4c6d-8a9e-6ba1e3f83bda.png">

[2021-08-03 11:03] NghiaTranUIT opened #952 "[BUG] Install Certificate by Legacy mode doesn't work iOS Simulator 14.5"
### Description
At the moment, Proxyman uses the `xcrun` CLI to install & trust Proxyman Certificate. It works well with iOS Simulator 14.5. However, if we use a legacy mode (Enable in Preference -> Tools), it doesn't work.

### Acceptance Criteria
- Make sure the legacy code works fine with iOS Simulator 14.5

[2021-08-03 13:42] NghiaTranUIT commented on #952
Done with the beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.30.0_Fix_legacy_mode_for_iOS_Simulator.dmg 👍

[2021-08-04 02:50] NghiaTranUIT opened #953 "Activate Proxyman License by CLI"
### Description
Some companies have more than 100 licenses and they would have a seamless onboarding for their colleague, we have to find a way to automatically activate a license 👍

### Acceptance Criteria
- Activate by CLI `$ /Applications/Proxyman.app/Contents/MacOS/Proxyman -activate <key>`
- Support -silent flag
- Activate by URL Schema `proxyman://activate?key=<key>`

[2021-08-04 09:57] onikishov commented on #947
@NghiaTranUIT Ok, I see. Many thanks for investigating the issue.

[2021-08-04 11:06] Drovosek01 commented on #948
But now, after I executed the above commands in the terminal, the python script without Proxyman stopped working for me.
That is, when Proxyman is running, the Python script runs without errors.

If I close Proxyman, and then run the Python script again, the following errors appear:

![image](https://user-images.githubusercontent.com/29478700/128168716-09ef801d-f98f-4417-8e4e-c0453d5a6ca6.png)

I

[2021-08-04 11:07] NghiaTranUIT commented on #948
Thanks for your insight @Drovosek01 I will add to the Doc 👍

[2021-08-04 11:23] Drovosek01 opened #954 "Waiting for the response body to display for a very long time"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.30.0 (23000)

### macOS Version? (Ex. mac 10.14)
macOS 10.14.6 Mojave

I noticed that Proxyman shows the response body for a very long time, if the response is an xml file of about 5 megabytes in size. This happens if you look at the server response data on the "Raw" tab and on the "Body" tab.

![Снимок экрана 2021-08-04 в 14 15 14](https://user

[2021-08-04 11:25] NghiaTranUIT commented on #954
Hey @Drovosek01 can you select the Body Tab on the Response Panel to see if it displays faster?

The body is using the CodeMirror view, which is the same as Postman. On the other hand, the Raw tab is using native NSTextView, which needs more improvement.

[2021-08-04 12:31] Drovosek01 commented on #954
@NghiaTranUIT to make it easier to understand, I recorded a video.

https://www.youtube.com/watch?v=aKuS7hjWW6c

P.S.
It would also be cool to add a download button for the response body, as in Postman.

[2021-08-04 12:34] NghiaTranUIT commented on #954
You can download the response as a file too 👍

<img width="1160" alt="Screen_Shot_2021-08-04_at_19_33_49" src="https://user-images.githubusercontent.com/5878421/128181399-0bcf3218-d499-47b9-a615-65983b8f178a.png">

[2021-08-04 17:24] phoenix5980 opened #955 "Script Error: Could not parse the body as Plain-Text. (Content-Type=text/html; charset=utf-8)"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.30.0
### macOS Version? (Ex. mac 10.14)
11.4
### Steps to reproduce
function onResponse(context, url, request, response) {
  var bodyStr = response.body;
  var decodeBody = atob(bodyStr);
  var jsonBody = JSON.parse(decodeBody);
  var counter = jsonBody["count"];
  counter = counter + 1;
  console.log(counter);
  var jsonBody["count"] = counter;

[2021-08-05 02:21] NghiaTranUIT commented on #955
hey @phoenix5980 look like your code is incorrect?

[code]

As you mention, jsonEncoded is `null`. As a result, when you pass it to `response.body`, it causes the error.

----------------

If you're going to use atob, or btoa, please include the addon. The reason is JavascriptCore from WebKit framework doesn't have built-in atob, btoa, window function. (Snippet code: https://docs.proxyman.io/scrip

[2021-08-05 07:13] NghiaTranUIT commented on #953
Done 👍
Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.30.0_activate_license.dmg

### Activate by CLI
- `/Applications/Proxyman.app/Contents/MacOS/proxyman-cli activate <key>`
- `/Applications/Proxyman.app/Contents/MacOS/proxyman-cli unlink`

<img width="925" alt="Screen Shot 2021-08-05 at 14 12 33" src="https://user-images.githubusercontent.com/5878421/128307433-8887f444-5c94-42

[2021-08-05 07:30] phoenix5980 commented on #955
Oh, sorry but I believe the problem wasn't that part. I did have the addon part but didn't included it in Steps to reproduce.
'// Decode Base64
const { atob } = require("@addons/Base64.js")
// Encode Base64
const { btoa } = require("@addons/Base64.js")'
I had it in the very beginning but forgot to paste it here. And I did use console.log to check decodeBody which was atob(bodyStr), and atob was de

[2021-08-05 08:05] JackoPlane commented on #953
Thank you for implementing this @NghiaTranUIT 🎉

[2021-08-05 10:36] alextesttesttest opened #956 "Don't move focus to Breakpoints window when a breakpoint is triggered"
### Proxyman version? 2.30.0

### macOS Version? 11.4
### Steps to reproduce
When a new connection triggers a breakpoint, the Breakpoints window grabs the OS focus and becomes the active window. If you are working in another window, this can be very disruptive, especially if a large number of breakpoints are being triggered.

### Expected behavior
I would suggest that the Breakpoints window does n

[2021-08-05 12:14] NghiaTranUIT commented on #956
Thanks for your insight @alextesttesttest.

I would add a checkbox option on the breakpoint, so you can opt-out this behavior 👍

[2021-08-06 03:43] NghiaTranUIT commented on #955
@phoenix5980 Can you log this variable?

[code]
<img width="1800" alt="Screen Shot 2021-08-06 at 10 40 03" src="https://user-images.githubusercontent.com/5878421/128452572-c20300d7-01f2-4a36-b3f4-9f4a7dd91806.png">

I've run a test and `btoa()` works fine

--------------------------
Look like your syntax is incorrect.

[code]

It should be (remove the var)

[code]

[2021-08-06 05:14] phoenix5980 commented on #955
The log will be very long though. I've emailed you the full script with the log, thx

[2021-08-07 18:52] jesus-qt commented on #945
@NghiaTranUIT, Why iOS App cannot capture TCP or UDP datagrams? Is that possible with packet tunnel or I'm wrong?

[2021-08-08 01:30] NghiaTranUIT commented on #945
@jesus-qt  It's possible to capture TCP/UDP from Proxyman, Charles Proxy or Fidder if this feature is supported. At the moment, none of them supports it.

If you use Packet Tunnel from the `NetworkExtension` framework from Apple, you can capture TCP/UDP.

If you'd like to see TCP/UDP traffic, please try Wireshark 👍

[2021-08-09 04:15] NicolasCombe5555 opened #957 "[Feature request] Continue execution after breakpoint"
Is it possible that we could enter a response for a specific url, and when triggered, the breakpoint would not stop but take our response and execute said request?
I think this would be useful specially if say you are constantly listening for a certain path, there a lot of breakpoints would accumulate and it is tedious to keep up with all of them, so if we could continue the execution as soon as w

[2021-08-09 04:23] NghiaTranUIT commented on #957
Yeah, you basically describe what [Map Local](https://docs.proxyman.io/advanced-features/map-local) tool does 😄

You can quickly create a Map Local by right-click on the Request (That has a response) -> Tool -> Map Local.

From there, you can modify the response, and Proxyman automatically get a response and return it if it's matched 👍

[2021-08-09 04:26] NicolasCombe5555 commented on #957
Oh awesome! Did not know that, thanks 👍🏻
Sorry for the issue 😅

[2021-08-09 04:26] NghiaTranUIT commented on #957
You're always welcome to open a ticket 👍

[2021-08-09 04:33] #957 closed

[2021-08-09 08:04] jesus-qt commented on #945
@NghiaTranUIT I'm trying to do this, but I cannot redirect traffic to internet reading with packet flow and writing to packetFlow. Any suggestions? I don't want to create by hand a socket to redirect the traffic to internet and then to the apps (because I think it's too complex and I have no idea how to do this)

[2021-08-11 01:32] NghiaTranUIT commented on #944
Hey. Just a friendly reminder that this feature is implemented and ship in the latest release 2.31.0 👍 😄

[2021-08-11 16:29] florentmorin opened #958 "Improve scripting console"
Scripting is excellent, but console is too small.

### Proxyman version? (Ex. Proxyman 1.4.3)

Proxyman 2.31.0

### macOS Version? (Ex. mac 10.14)

Mac 11

### Steps to reproduce

Create a wonderful script that made request body more understandable.
Displaying result with many `console.log()`.

### Current behavior

A small console.

### Expected behavior

A big fullscreen console to show result w

[2021-08-12 12:55] rukano opened #959 "Scripting - Add comments, highlight, etc. from scripting into the ProxymanApp"
### Proxyman version
2.31.0

### macOS Version
macOS 11.4

### Steps to reproduce
Using the wonderful scripting interface I can change the request and responses and log requests and additional info, but I can't interact with the actual Proxyman app, or the requests as represented in the Proxyman app, e.g. setting a comment or a highlight color.

### Expected behavior
Is there a way to interact wit

[2021-08-12 13:05] NghiaTranUIT commented on #958
Hey @florentmorin let try this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.31.0_Sidebar_for_console_log.dmg

You can toggle the Console Log, to dock on a Bottom (default) or the Right bar, so it can display more content 👍

![Screen_Shot_2021-08-12_at_16_04_53](https://user-images.githubusercontent.com/5878421/129201694-a679ea90-3289-4666-bb46-be54ecd5fa59.png)

[2021-08-12 13:08] NghiaTranUIT commented on #959
Thanks for your insight @rukano 👍

It totally makes sense to support comment and highlight color from the Scripting tool. Sometime I wish I can highligh the red color for the response I modify by my Script 😄

I will bump this issue to our team and implement it in the next release. Will send you a BETA build soon 👍

[2021-08-12 13:32] rukano commented on #959
Wow! That's amazing! 😄  Thank you very much! Happy to test whatever it needs to be tested :)

[2021-08-12 14:31] florentmorin commented on #958
Perfect 👍

[2021-08-13 02:37] NghiaTranUIT commented on #959
Hey @rukano please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.31.0_scripting_color_and_comment.dmg

You can simply set a comment or highlight with color:

[code]

![Screen_Shot_2021-08-13_at_09_27_36](https://user-images.githubusercontent.com/5878421/129297097-3cc6d1e1-c5ec-4187-90bc-7f034eb7e326.png)

Document: https://docs.proxyman.io/scripting/snippet

[2021-08-13 08:39] Drovosek01 opened #960 "SSL Handshake Failed for Autodesk Fusion360"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.31.0

### macOS Version? (Ex. mac 10.14)
10.14.6

### Steps to reproduce
1. Download- https://dl.appstreaming.autodesk.com/production/installers/Fusion 360 Client Downloader.dmg
2. Run installer
3. Start listen https response from installer in ProxyMan

### Screenshots (optional)
![image](https://user-images.githubusercontent.com/29478700/129329581-7467

[2021-08-13 09:12] NghiaTranUIT commented on #960
Look like this app is using SSL Pinning, so it would reject all self-signed certificate from Proxyman

[2021-08-13 12:03] rukano commented on #959
Works like a charm @NghiaTranUIT  ! 🥳

[2021-08-13 12:53] NghiaTranUIT commented on #959
Awesome @rukano we will release this build soon 😄

[2021-08-13 13:49] NghiaTranUIT commented on #946
Hey @mprice-banno please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.31.0_Scripting_Mock_APIs.dmg

From now, you can use Scripting as a Mock API. The request would not go to the server, it will return intermediately 👍

To enable it, please select your Script -> Click on Option button -> Check Use onResponse() as Mock API.

Then defining your response.
[co

[2021-08-15 03:43] NghiaTranUIT commented on #960
From your screenshot, I see that you are able to intercept some HTTPS traffic (id = 180, 181). It means the app is working properly.

However, all traffic from autodesk is failed. It is a high chance that the app rejects Proxyman certificate due to SSL-Pinning. From my experience, there is no way to intercept it unless you have their certificate 👍

[2021-08-15 17:44] #861 closed

[2021-08-16 07:50] internpoon opened #961 "Copy as NodeJS Fetch / Got"
Currently only able to copy as cURL, would be great if able to copy as NodeJS Fetch / GOT

[2021-08-16 08:33] phoenix5980 commented on #955
@NghiaTranUIT Hi, I used typeof() to check the type of jsonStr and jsonBody. Interestingly the type of jsonStr shows string, while jsonEncode, which is btoa(jsonStr), shows object.

[2021-08-16 08:59] JasonBoy commented on #590
Just curious, what's the status of this feature? 🤒

[2021-08-16 09:25] NghiaTranUIT commented on #955
Hey @phoenix5980 I'm able to reproduce your issue. It looks like the jsonStr is too big, so `btoa()` is failed somehow. I'm fixing it now 👍

[2021-08-16 10:09] NghiaTranUIT commented on #955
Hey @phoenix5980 I discovered a bug in `btoa()` function. It's failed if the input is large enough.

Please use `base64Encode()` function. It will work 👍
[code]

Full code:
[code]

![Uploading Screen Shot 2021-08-16 at 17.07.40.png…]()

[2021-08-16 10:17] phoenix5980 commented on #955
Thanks, works like a charm.

[2021-08-16 10:22] #960 closed

[2021-08-16 10:42] NghiaTranUIT commented on #961
Thanks @inahuelzapata. I've recently received a lot requests for this Code Generating feature 😄

I'm going to implement this feature for the next release and send you a Beta soon 👍

<img width="1002" alt="Screen Shot 2021-08-16 at 17 39 00" src="https://user-images.githubusercontent.com/5878421/129551515-fad326c8-07d0-47a8-bf0d-527cf4960d54.png">

[2021-08-16 13:01] NghiaTranUIT commented on #955
Fixed on this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.31.0_Fix_btoa_bug.dmg

[2021-08-18 19:58] jeremyross commented on #737
This is not working. The script fails on this line:

[code]

with this message:

So, the script never gets to the part where it checks JAVA_HOME and SDKMAN.

[2021-08-19 00:30] 4nif commented on #713
Hi @NghiaTranUIT do you have an update for this feature?

[2021-08-19 01:53] NghiaTranUIT commented on #713
Hey @4nif , sorry to say that it's in still progress. It's a huge feature since we have to change the internal structure and make sure your rules/scripts are not accidentally deleted.

Just wondering: How many rules or scripts do you have?

[2021-08-19 01:58] NghiaTranUIT commented on #737
Thanks for getting back @jeremyross. I will revisit the script to see how to fix it 👍

If you don't mind, you can manually fix the script at
[code]
By removing the part:
[code]
It will work with the SDKMAN

[2021-08-19 06:30] happyjiahan commented on #926
need this feature heavily

[2021-08-19 06:50] NghiaTranUIT commented on #926
Hey @happyjiahan , can you elaborate on what your user-case is? At the moment, you can basically custom a Body Previewer by using one of [Snippet Code](https://docs.proxyman.io/scripting/snippet-code) 👍

[2021-08-19 10:32] florentmorin opened #962 ""Use onResponse() as a Mock API" not available"
### Proxyman version? (Ex. Proxyman 1.4.3)

Proxyman 2.31.0 (23100)

### macOS Version? (Ex. mac 10.14)

mac 11.5.1

### Steps to reproduce

Follow steps from [documentation](https://docs.proxyman.io/scripting/script#8-use-scripting-as-a-mock-api) :

1. Open the Scripting Tool -> Select the Script
2. Open More button -> ...
3. "Use onResponse() as a Mock API" is not available

### Expected behavio

[2021-08-19 10:34] NghiaTranUIT commented on #962
Hey @florentmorin

It's not available on the production yet. Please try this beta build at https://github.com/ProxymanApp/Proxyman/issues/946#issuecomment-898470661 😄

[2021-08-19 10:35] #962 closed

[2021-08-19 13:15] 4nif commented on #713
Around 100, we use proxyman for all of our projects, so we have different scenarios for each project. Not a blocker for proxyman daily usage, still folder feature will help us to organize the script better :D

[2021-08-19 14:16] NghiaTranUIT commented on #713
Thanks for your insight @4nif. It's super useful for me to understand how important this feature 👍

I'm going to add it to Proxyman 2.33.0 milestone and definitely implement it 🎉

[2021-08-19 21:44] mprice-banno commented on #946
@NghiaTranUIT Thanks!! I've only had a chance to briefly play with this so far, but it's working for me so far! Great idea  having the "empty" response include the info message:

`{
	"httpVersion": "HTTP/1.1",
	"statusCode": 200,
	"statusPhrase": "OK",
	"body": {
		"comment": "To disable it: Select your script -> More button -> Uncheck Use onResponse() as Mock API",
		"scriptName": "Untitled",
		"

[2021-08-20 15:14] NghiaTranUIT opened #963 "[BUG] Split View layout issue on iPAd"
### Description
Some users have reported that Flow Detail Window doesn't update properly when selecting a request on the left panel. It happens on iPad in Split View mode. We should fix it.

### Acceptance Criteria
- Select a request on the Left panel should update the Detail window properly.

[2021-08-20 15:16] NghiaTranUIT opened #964 "Remember that current tab on Detail Screen"
### Description
At the moment, if we select the request on the left panel, the Response panel (in Split View mode) will be reset and go back to the Request Tab. It's annoying since we have to constantly tap on the Response Tab to see the Response.

We should fix it 👍

### Acceptance Criteria
- Proxyman should persist the current tab on the Detail Window

[2021-08-23 07:16] NghiaTranUIT commented on #964
Done on Proxyman for iOS 1.4.2 👍

[2021-08-23 07:17] NghiaTranUIT commented on #963
Done on Proxyman for iOS 1.4.2 👍

[2021-08-23 12:25] minidonut opened #965 "A misspelled, broken link at the Homepage"
### Description
There is a misspelled link at the Homepage > Feature Overview > Advanced Features

link of the `Map Remote` should be https://docs.proxyman.io/advanced-features/map-remote

but actually https://docs.proxyman.io/advanced-features/remote-local

### Screenshots (optional)
![image](https://user-images.githubusercontent.com/16033316/130446056-263b5c3a-18e3-4f54-b7bd-3efc783f67cc.png)

[2021-08-23 12:52] NghiaTranUIT commented on #965
Thanks for your report @minidonut. It's fixed now 😄 🙌

[2021-08-24 17:22] ssayfulin69 commented on #311
I have the same issue using Proxyman (or Charles) and Viscosity together.
I try to capture traffic from iOS Simulator. And actually, here is interesting thing I noticed.

Proxyman doesn't see any traffic while VPN is connected. But I disconnect VPN, make single request, which is captured by Proxy, and connect to VPN again.
After that weird manipulations Proxyman continues to capture requests for a

[2021-08-25 03:28] liufengsoft opened #966 "Map Remote can not change path prefix"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.31.0 (23100)

Map Remote Can not map: http://a.com/v1/xxxx to  http://a.com/v2/xxxx

[2021-08-25 03:53] NghiaTranUIT commented on #966
Hey @liufengsoft, Map Remote could not understand how to replace v1 to v2.

You can easily do it by using Scripting Tools.

Here is the sample code how to map v1 to v2 👍
Snipped Code: https://docs.proxyman.io/scripting/snippet-code#change-request-destination-scheme-host-port-path

[code]

<img width="1564" alt="Screen Shot 2021-08-25 at 10 51 24" src="https://user-images.githubusercontent.com/5878

[2021-08-25 04:26] NghiaTranUIT commented on #311
@srebalaji you might check out this Viscosity documentation on how to [setup HTTP/HTTPS proxy](https://www.sparklabs.com/support/kb/article/advanced-configuration-commands/#proxy-http) on Viscosity.

[code]

By doing this way, I suppose that your issue can be fixed 👍 😄

[2021-08-25 09:58] NghiaTranUIT opened #967 "Export as Postman Collection 2"
### Description
Since we've already supported "Export as HAR", some users request that they would like to export selected requests/responses to Postman. We should implement it 👍

### Acceptance Criteria
- Export as Postman Collection 2

[2021-08-25 14:36] philosopherdog opened #968 "Multiple "clone" simulators when installing cert"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.31.0 (23100)
### macOS Version? (Ex. mac 10.14)
11.5.2
### Steps to reproduce
certificate > install certificate > simulator
### Expected behavior
install cert & reboot simulator
### Screenshots (optional)
produces multiple "clone" versions of the simulator!
<img width="2360" alt="Screenshot of Simulator (2021-08-25, 10-31-39 AM)" src="https://us

[2021-08-25 14:39] NghiaTranUIT commented on #968
Thanks for the report. It's odd that Proxyman opens multiple clone simulator app.

Just wondering: Before you reboot the certificate, have many simulators are you opening 🤔 ?

[2021-08-28 01:40] NghiaTranUIT commented on #939
Thanks for your detailed feedback @sleeve @cameroncooke, I appreciate it 🙇
All of your points are reasonable, and I'm fixing it now 👍

[2021-08-28 02:17] internpoon commented on #961
Thank you !

[2021-08-28 09:05] IgorChernyshov commented on #743
Hi!

These are great news, thanks!

Igor Chernyshov Sent from iPhone

Friday, 27 August 2021, 18:06 +0300 from ***@***.***  ***@***.***>:

[2021-08-28 14:38] NghiaTranUIT commented on #939
Hey @sleeve and @cameroncooke, I've fixed all your mentioned issues. However, there is a problem:

In order to use Icon + Label, Icon Only, or Label Only, the main window must be use `.toolbarStyle = .unified`. As a result, the toolbar size will become bigger than the original toolbar (.unifiedCompact).  See the screenshot to see the difference.

If I use the `.unifiedCompact` mode, macOS doesn't

[2021-08-28 17:52] sleeve commented on #939
@NghiaTranUIT Looking a lot better! That seems like a good solution to support the multiple view/toolbar sizes. I don't personally mind the taller toolbar but it would be nice to retain the smaller toolbar size that users are familiar with.

Just a few more minor issues that I see with this build. I'm only using macOS 12.0 beta 5 so not sure if these also occur on macOS 11.x. I'm also not sure if

[2021-08-29 01:28] NghiaTranUIT commented on #939
Thanks for your useful feedback @sleeve, I love it 🥇

1. It's a built-in menu context from Apple, which I could not prevent 😕. I tried to find the menu, which is located deeply in Apple's views, but no luck. It might not work for new macOS too.
2. It's a good idea to add "Icon Only (Compact)". I will consider use it and remove the checkbox
3. It's a bug on macOS 12. It works fine on macOS 11 and I

[2021-08-29 06:54] NghiaTranUIT commented on #939
Here is an update for macOS 12 @sleeve if you have encountered some crashes https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.31.0_Toolbar_v3.dmg 👍

I will release today and find a better solution for macOS 12 in the next updates 😄

[2021-08-29 07:11] NghiaTranUIT commented on #940
Since this feature is essential, I will implement it for the 2.33.0 build 👍

[2021-08-30 08:40] NghiaTranUIT opened #969 "Improve Main Table View"
### Description
There are several things we can improve the main table view:
1. Use Monospace Font => Better to display digits
2. Left Alignment for Text column and Right Alignment for number columns (Size, Time, Duration, ...)
3. Use new duration formats, same as Google Dev Tools

<img width="1281" alt="Screen_Shot_2021-08-30_at_15_23_26" src="https://user-images.githubusercontent.com/5878421/131

[2021-08-30 12:29] NghiaTranUIT opened #970 "[BUG] Crash on new Customize Toolbar feature"
### Description
Since we have introduced the [Customize Toolbar](https://docs.proxyman.io/basic-features/customize-toolbar) to the latest build, we observe there is a small number of crashes from App Center. We should fix it 👍

The crash only occurs in macOS 12.

### Acceptance Criteria
- Fix the crash
- Find a new solution to enable .unified and .unifiedCompact mode 👍

[2021-08-30 13:57] NghiaTranUIT commented on #970
Fixed with this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.0_Fix_Customize_Toolbar.dmg

[2021-08-31 04:29] NghiaTranUIT opened #971 "Customize Font size on the main table view"
### Description
Some users request that they'd like to change the font size of the main table view, not just the Previewer windows.

### Acceptance Criteria
- Able to customize font size and padding of the main table view
- Use monospace digit font

[2021-08-31 18:28] philosopherdog commented on #968
Another quick thing. It doesn't seem like removing unused additional simulators for various versions of iOS has solved this. I am noticing this problem come up consistently when running XCTests though.

[2021-09-01 14:32] jj0e opened #972 "Export as Charles, Fiddler, etc."
### Proxyman version? 2.32.0

I would love to be able to share my Proxyman sessions with colleagues who do not have macOS device, rather linux or windows. Can we add a feature that exports the entire session to something like Charles or Fiddler?

[2021-09-01 14:34] NghiaTranUIT commented on #972
You can select your request -> Right Click -> Export as HAR format. Then your colleagues can open it with Google Dev Tool, Charles and Fiddler :+1

[2021-09-01 14:34] NghiaTranUIT commented on #972
You can export as HAR format, and open it with Google Dev Tool, Charles and Fiddler :+1

[2021-09-01 14:40] jj0e commented on #972
Thanks, I was not familiar with what har was!

[2021-09-01 14:40] #972 closed

[2021-09-02 01:33] Brontojoris commented on #862
I'm also seeing high CPU usage whenever I have an app running that implements Atlantis.

The app doesn't even need running in a simulator on the same machine as proxyman.

If the app with Atlantis framework is running on a device, or another Mac with simulator then the one running Poxyman has the high CPU.

[2021-09-02 01:52] NghiaTranUIT commented on #862
Thanks for your report @Brontojoris @schwindt

We've received a similar report with Atlantis too, but I'm not able to reproduce it in my machine.

If you don't mind, please install this version of Atlantis:

### SMP
Check out this commit: 29088bc9b752498cdb74051c962855f2de77e52a

### Cocoapod
[code]

I assume that the problem when we try to do Method Swizzling on NSConnection Delegate, so we remov

[2021-09-02 01:56] NghiaTranUIT commented on #862
Just wondering:
- Are your app, which is integrated with Atlantis, is downloading/uploading a huge file when the CPU is high? 🤔

Since Atlantis intercepts the Download/Upload URL Session Task -> Encode to JSON -> Zip -> Send to Proxyman app -> It might increase the CPU usage.

[2021-09-02 09:53] NghiaTranUIT commented on #971
Done. Beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.0_Polish_UI_And_Fix_Toolbar.dmg

<img width="2197" alt="Screen_Shot_2021-09-02_at_15_10_45" src="https://user-images.githubusercontent.com/5878421/131822943-315b9e40-ecd5-44d0-a79e-595720762db1.png">

[2021-09-02 09:55] NghiaTranUIT commented on #969
Done: https://github.com/ProxymanApp/Proxyman/issues/971#issuecomment-911474935

[2021-09-02 19:27] weitieda opened #973 "iOS Simulators Setup Revert Back to Unsetup State"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.32.0 (23200)

### macOS Version? (Ex. mac 10.14)
11.15.2

### Steps to reproduce
With Xcode and Proxyman open, connect Pulse Secure VPN, Proxyman is able to monitor traffic.. Then install "iOS Simulators Setup"
1. Installed Root Proxyman Certificate to this Mac (installed and trusted)
2. click "Installed and Trust" -> success
3. Reboot -> success -> Sim

[2021-09-03 05:11] NghiaTranUIT commented on #973
Thanks for your report @weitieda

The reason why the state is reset is that there is no way to know whether or not the certificate is installed and trusted in your iOS Simulator.

It's a limitation of `simctl` CLI from Apple. It allows Proxyman to install & trust automatically (which we've implemented), but no command to check the status. As a result, Proxyman will reset the check status.

-------

[2021-09-03 05:13] NghiaTranUIT commented on #973
If you don't mind, please open your VPN app, and try to intercept https://google.com from Safari or Google Chrome on your Macbook. To see if Proxyman can capture it when the VPN is opened 👍

If it's work. It means Proxyman works fine with your VPN.
If not, we need config HTTP proxy in your VPN in order to make it work 😄

[2021-09-05 07:31] NghiaTranUIT opened #974 "[BUG] Select Map Local File does not update the Editor Content"
### Description
In certain circumstances, after we select a local file in a Map Local Tool, the editor does not update for some reason. The rate of reproduction is 20%.

### Acceptance Criteria
- If we select a local file in Map Local, the editor should be update with the file content.

[2021-09-05 08:52] NghiaTranUIT commented on #940
Good news is that this feature is implemented: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.0_Display_Debugging_tool.dmg

Proxyman will display a debugging tool, which the request/response is modified with some useful information.

<img width="587" alt="Proxyman Summary Tab" src="https://user-images.githubusercontent.com/5878421/132120741-a5df7be2-8258-476d-849c-83ad824b1138.png"

[2021-09-05 09:39] cameroncooke commented on #940
Fantastic work! Thank you!

On Sun, 5 Sep 2021 at 09:52, Nghia Tran ***@***.***> wrote:

--
Cameron.

[2021-09-05 14:37] NghiaTranUIT opened #975 "Use SF Symbol"
### Description
In order to improve the UI of Proxyman to fit with macOS Big Sur UI, we have to replace all Proxyman Icon with SF Symbol 👍

<img width="1661" alt="Screen_Shot_2021-09-05_at_21_34_47" src="https://user-images.githubusercontent.com/5878421/132130730-7c037ba0-c53e-4360-8766-dc6ebd113dfb.png">

### Acceptance Criteria
- Use SF Symbol on Big Sur
- Remain the old icon for prior macOS

[2021-09-06 09:54] NghiaTranUIT opened #976 "[BUG] Crash when parsing HAR with invalid WS/WSS data"
### Description
Proxyman might be crashed if we parse a malformed HAR file with invalid WS/WSS data. Basically, we define WebSocket Opcode as UInt8, but the data is out of range. Therefore, the app is crashed.

### Acceptance Criteria
- Add safe check and ignore the invalid WS/WSS message

[2021-09-06 11:24] mathiasemil opened #977 "IP address in top bar is not updated when the IP changes"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.32.0

### macOS Version? (Ex. mac 10.14)
11.4

### Steps to reproduce
How I see the "bug" multiple times per week:
1. Connect to internet with ethernet.
2. Open Proxyman
3. See IP address is correctly shown in top bar.
4. Unplug ethernet and connect to Wifi.
5. A different IP is assigned, but Proxyman still shows the IP from when Proxyman was first open

[2021-09-06 12:59] NghiaTranUIT commented on #974
Fixed on Proxyman 2.32.1 👍

[2021-09-06 13:00] NghiaTranUIT commented on #976
Fixed on Proxyman 2.32.1 👍

[2021-09-06 13:00] NghiaTranUIT commented on #975
Done on Proxyman 2.32.1 👍

[2021-09-06 13:02] NghiaTranUIT commented on #977
Hey @mathiasemil Thanks for your bug report 👍

Proxyman hasn't detected the network change and updated to IP properly. We will fix it 😄

To workaround, you can close/quit and reopen the app, it will update the correct one 👍

[2021-09-07 00:54] mlaster opened #978 "Trouble SSL proxying iOS device through ProxyMan"
I'm evaluating ProxyMan as a replacement for Charles Proxy.  Charles works, but I've always hated the interface.  If I can get ProxyMan to do the same thing things I do in Charles, I'm sold!

### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.32.1 (23210)

### macOS Version? (Ex. mac 10.14)
12.0
### Steps to reproduce
Setup manual proxy to 192.168.1.10:8888 (I changed the default port to match w

[2021-09-07 00:57] NghiaTranUIT commented on #978
Hey, look like you haven't trusted the Certificate on your iPhone devices. You can do it in the Setting app -> General > About > > Certificate Trust Settings > Switch ON

You can access the iOS guideline at Certificate Menu -> Install Certificate for iOS -> physical device 👍

Document: https://docs.proxyman.io/debug-devices/ios-device

[2021-09-07 00:59] NghiaTranUIT commented on #978
@mlaster Please let me know if it works for you. Basically, Proxyman is capable of capturing traffic from your iOS physical devices and Simulator too 😄

[2021-09-07 01:03] mlaster commented on #978
Oops....I just realized my mistake.  I didn't do step 2.  I feel dumb now :). It works.  Feel free to close this ticket.

[2021-09-07 01:03] #978 closed

[2021-09-07 01:04] NghiaTranUIT commented on #978
Awesome. You're sold 😉

[2021-09-07 02:45] mlaster commented on #978
Definitely.  Just bought a license.

I’m having trouble with rewriting the body.  I’m trying the example:

function onResponse(context, url, request, response) {
//    console.log(response);

    // Make sure Request Header Content-Type is: application/json or JSON Families
    // Get Request body
    var jsonBody = request.body;

    // Modify data
    jsonBody["name"] = "Proxyman";
    jsonBody[

[2021-09-07 02:53] NghiaTranUIT commented on #978
Hey, your script is incorrect in terms of syntax:
Look like you are trying to rewrite the Response Body, but you are incorrectly using the `request` object.

[code]

It should be:

[code]

[2021-09-07 02:57] NghiaTranUIT commented on #978
Look like you're trying a snippet code from https://docs.proxyman.io/scripting/snippet-code#json-body

Please make sure you call it properly for `onRequest()` or `onResponse()`

[2021-09-07 03:03] mlaster commented on #978
Thanks.  I copied the wrong sample.  I should stop hacking around with it tonight and wait until tomorrow until I have more brain.  Sorry for the dumb questions :)

[2021-09-07 03:04] NghiaTranUIT commented on #978
You're welcome. Let me know if you have any problems 👍

[2021-09-07 07:55] NghiaTranUIT opened #979 "Edit and Repeat does not work with Cookie Header"
### Description
If we perform "Edit & Repeat" on a Request, which has a Cookie Header, then removing the Cookie Header and sending a new request.

The new request still has a Cookie in the Header. It's a bug. We should fix it

### Acceptance Criteria
- Remove Cookie Header

[2021-09-07 13:30] jackpoxy opened #980 "Map Remote encode error"
### Proxyman version:Proxyman 2.31.0

### macOS Version: mac 11.3

### Screenshots (optional)
![image](https://user-images.githubusercontent.com/24241847/132352184-055f037c-0307-4825-87f6-e3c8efecb220.png)
Can I choice encode or not?
![image](https://user-images.githubusercontent.com/24241847/132352640-3bbc621b-9650-4957-800b-50b7a840fe7c.png)

[2021-09-07 13:33] NghiaTranUIT commented on #980
Hey, thanks for the bug report. I'm not sure why Proxyman encodes this /, but not another part 🤔 I will investigate it 👍

To workaround, you can use this [Snippet Code](https://docs.proxyman.io/scripting/snippet-code#change-request-destination-scheme-host-port-path) from Scripting Tool, to achieve the same thing as Map Remote doesn't. It might fix the bug 👍

[code]

[2021-09-07 14:20] crankygeek opened #981 "[Crash] Crash when changing toolbar setting via Customize Toolbar dialog"
Trying to change the toolbar style via right-clicking on the toolbar and following that path, the app crashes after selecting a different style.

If you open Preferences directly, and change the style that way, it works as expected.

I have a crash log and can provide via email if needed. But this reproduces consistently, so I'm guessing you may not need it.

### Proxyman version? (Ex. Proxyman 1.

[2021-09-07 14:32] crankygeek opened #982 "[Request] Bring back functionality to quickly open Breakpoint and Scripting windows from main window"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.32.1 (23210)

### macOS Version? (Ex. mac 10.14)
MacBook Pro (16-inch, 2019) macOS 11.5.2 (Intel)

I'd swear that Scripting and Breakpoint used to have indicators in the status bar that would open the related window when clicked on. Do I remember that correctly? Currently, unless you have the toolbar buttons configured, there's no indication in

[2021-09-07 14:33] crankygeek commented on #982
Had another thought about quick-opening those screens. Maybe add Option+click on the toolbar buttons to open them? Though I'm not sure about discoverability, or how that would align with the HIG.

[2021-09-07 14:41] NghiaTranUIT commented on #982
Yes, it's true, but the tool must be enabled and have one active rule at least. Then the badge at the bottom will appear and you can click on it to open it.

I intentionally design this way because if we enable all tools (by default, these tools are enabled), all tools will appear on the bottom bar -> Look messy.

It's a reasonable idea. Let see if I can add it.

To workaround, you might use a sho

[2021-09-07 14:46] NghiaTranUIT commented on #981
Thanks. I'm occasionally able to reproduce the crash. It's a bug from macOS when we change the Window and Toolbar Style during using the app. The crash occurs in internal Apple code and I don't have any solution to fix it 😿

Maybe I have to refactor it again. Re-open the app to apply the change or something similar.

[2021-09-07 15:12] crankygeek commented on #981
What about having the button in the toolbar customizer just open Preferences, instead of selecting/expanding the field on open? The General screen isn't too complicated that users wouldn't be able to find it quickly.

[2021-09-07 15:30] NghiaTranUIT commented on #979
Fix with https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Edit_And_Repeat.dmg

[2021-09-07 15:36] NghiaTranUIT opened #983 "[BUG] Edit & Repeat generates too many invalid requests"
### How to reproduce
1. Right click on any request -> Edit & Repeat
2. Click the Send button **twice**
3. Observe that there are 3, 4, 5 requests that have been sent.

### Acceptance Criteria
- Add Loader to prevent sending multiple requests
- Make sure there is one request for 1 Send

[2021-09-07 15:36] NghiaTranUIT commented on #983
Fixed with this beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Edit_And_Repeat.dmg

[2021-09-07 15:47] NghiaTranUIT opened #984 "[BUG] Search bar of Request/Response Body is cleared as soon as it's closed"
### Description
If we open a search bar (CMD+F) on the Request/Response Body, type any text, then clicking on the view. The search text field will be closed and clear all text. We should fix it 👍

### Acceptance Criteria
- Search Bar text field should be persisted and not auto-clear

[2021-09-07 17:03] crankygeek commented on #982
I'm old and can't remember all the keyboard shortcuts available across all of my apps. 🤣 But point taken.

[2021-09-08 01:25] NghiaTranUIT opened #985 "Export Proxyman Certificate to P12"
### Description
Currently, we can export Proxyman Certificate as PEM/DER and Private key. However, it's not possible to export as a P12 file, that Proxyman on a different machine, can import it. We should implement it 👍

### Acceptance Criteria
- Able to export the certificate as P12 (With passpharse if need)

[2021-09-08 02:39] jackpoxy commented on #980
Hi, I used the Scripting Tool, but I got the same question too.
![image](https://user-images.githubusercontent.com/24241847/132437022-b8e8779d-dc63-4765-896b-e98a10cb3162.png)

[2021-09-08 02:44] NghiaTranUIT commented on #980
Thanks, not sure why URLComponent incorrectly parses your URL. I will check out this week and send you a Beta build 👍

[2021-09-08 03:20] jackpoxy commented on #980
OK，thanks:)

[2021-09-08 05:56] NghiaTranUIT commented on #984
Fixed with this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Search_Bar_on_Request_Response_Body.dmg

[2021-09-08 09:50] NghiaTranUIT commented on #980
Hey @jackpoxy

If you turn off the Map Remote Tool, and enable the Scripting, Have you still encountered the bug? (Please ignore the console log)

I'm able to reproduce it by using Map Remote, but not the Scripting.

Here is my URL I tested: http://localhost:3000/api/git/api/v3/projects/TCE-Cmgt-Web-l18n%2FCLB-web.git/repository/branches?private_key=aaa

[2021-09-08 10:48] NghiaTranUIT commented on #980
@jackpoxy Please try this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Percent_Encoded_in_Map_Remote.dmg

I fixed the percent-encoded issue on the Map Remote 😄

Please turn off the scripting and test it again.
<img width="1678" alt="Screen_Shot_2021-09-08_at_17_47_56" src="https://user-images.githubusercontent.com/5878421/132496329-1eafdb26-c6a7-4c29-88d4-7af810

[2021-09-08 11:51] jackpoxy commented on #980
Hey @NghiaTranUIT ,I try turn off the Map Remoto Tools, only use Scripting Tool. I think the encode is still work.
![image](https://user-images.githubusercontent.com/24241847/132504012-02c2821c-db6c-4bdc-a032-7270cf64e022.png)
![image](https://user-images.githubusercontent.com/24241847/132504024-acaabcc1-9fbd-438b-87bb-9228aa0a3d7d.png)
![image](https://user-images.githubusercontent.com/24241847/1

[2021-09-08 12:06] jackpoxy commented on #980
Hey @NghiaTranUIT
I used this version, I think the bug is fixed, it's so quickly, thank for your work :)

[2021-09-08 13:39] NghiaTranUIT commented on #980
Glad to know it works @jackpoxy 💯

[2021-09-09 07:50] NghiaTranUIT commented on #985
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Export_Certificate_p12.dmg

[2021-09-09 19:06] khoogheem opened #986 "Should find a previous WS Package"
### Proxyman version? 2.32.1 (23210)

### macOS Version? 11.4

### Steps to reproduce

when proxyman is not running... I get these issue:

[code]

[2021-09-09 19:11] #986 closed

[2021-09-09 19:11] khoogheem commented on #986
put in Atlantis

[2021-09-09 21:16] jasonhowk opened #987 "Context click on host for Map Remote displays Map Local instead."
### Proxyman version? (Ex. Proxyman 1.4.3)
2.32.1

### macOS Version? (Ex. mac 10.14)
11.5.2

### Steps to reproduce
1. Start session
2. Navigate and select a app/domain in the left navigator.
3. Right Click and select `Map Remote...`
4. Map Local is presented instead.

### Expected behavior
Map Remote dialog is displayed.

### Screenshots (optional)
![Screen Shot 2021-09-09 at 3 09 51 PM](https:/

[2021-09-10 01:33] NghiaTranUIT commented on #987
It's definitely a bug. We're going to fix it now 🙌

[2021-09-10 03:18] XaoflySho opened #988 "Quit Proxyman, restore system proxy settings."
### Proxyman version? (Ex. Proxyman 1.4.3)
2.32.1 (23210)
### macOS Version? (Ex. mac 10.14)
12.0
### Steps to reproduce
Quit proxyman.
### Expected behavior
Restore system proxy settings.
### Screenshots (optional)

[2021-09-10 03:23] NghiaTranUIT commented on #988
Hey, if you install [Helper Tool 1.3.0](https://docs.proxyman.io/basic-features/proxy-setting-tool#changelog), it will remember and restore the proxy setting after the app is quit.

Please open Preference -> Advanced -> Install or update the helper tool if need 👍

<img width="702" alt="Screen_Shot_2021-09-10_at_10_21_21" src="https://user-images.githubusercontent.com/5878421/132794359-dd1a7d9e-52e

[2021-09-10 03:25] NghiaTranUIT commented on #987
It's fixed with this beta: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Map_Remote_Menu.dmg

Thank you so much for the bug report 🙌

[2021-09-10 03:47] XaoflySho commented on #988
Thank you, now it seems to work properly.

[2021-09-10 03:47] #988 closed

[2021-09-10 10:35] Bertrand opened #989 "Response XML formatting tab doesn't work when response charset is not UTF-8"
### Description

When inspecting XML responses encoded in `ISO-8859-1` charset (and probably any encoding other than UTF-8) , the XML formatting tab displays "Invalid XML Data" instead of the actual XML Data.

This happens even tough the `content-type` header properly specifies the response charset:
[code]

### Possible root cause

The `charset` parameter in the `content-type` HTTP response header

[2021-09-10 10:39] NghiaTranUIT commented on #989
It's definitely a bug because Proxyman hasn't supported ISO-8859-1 charset parsing the XML 😄

To workaround, I recommend previewing the XML file on the Body Tab.

Let me fix and send you a Beta build soon 👍

[2021-09-10 11:18] Bertrand opened #990 "Enhancement: prettify GraphQL query in request Treeview (even slightly)."
Today, it's very hard to read the `query` part in a GraphQL request :

<img width="805" alt="image" src="https://user-images.githubusercontent.com/4960/132844930-da474dc6-142d-4935-a295-e233872c9847.png">

This is because the whole query (which can be HUGE) is displayed as a single line.

Would it be possible to a add a `prettify` selector that would display the query part in a more readable forma

[2021-09-10 12:49] NghiaTranUIT commented on #990
I tried on different GraphQL Query, some of them doesn't have `\n`, so it's really difficult to manually prettify it.

I suppose that I will implement a GraphQL Query Prettifier, which is similar to the below GraphQL online tool 👍

Since the TreeView is an NSOutlieView (support tree-level-hierachie), and it seems that it's difficult to support multiple lines, so I'd introduce a GraphQL Tab

<img w

[2021-09-10 15:26] NghiaTranUIT commented on #989
Hey @Bertrand please check out this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Charset.dmg

From now, Proxyman will get a charset in ContentType and try to parse it properly. Otherwise, it will "guess" 👍

<img width="1831" alt="Screen Shot 2021-09-10 at 21 48 47" src="https://user-images.githubusercontent.com/5878421/132878300-03e41672-102a-45fb-b1ac-396c0ec29

[2021-09-13 07:32] Bertrand commented on #989
Hey @NghiaTranUIT, it works like a charm now 😃 😃
Many thanks !!!

[2021-09-13 07:45] Bertrand commented on #990
Wow 😄
This is such a game-changer !

Many many thanks @NghiaTranUIT

A few remarks:

- you might want to add an additional pane holding the variables, so users don't have to switch back and forth between the GrapqhQL and the json pane.
- There are strange coloring applied to some of the parameters, and even some of the fields:

<img width="536" alt="image" src="https://user-images.githubuserconten

[2021-09-13 07:47] NghiaTranUIT commented on #990
Sorry for the syntax highlight for graphQL. I tried to support CodeMirror-graphQL-mode but it doesn't work well 😿

Thanks for your proposal. I will find a way to support it 👍

[2021-09-13 14:29] shockw4ver commented on #629
@NghiaTranUIT  Still met this in 2.32.1 from setapp...

[2021-09-14 02:56] lyhsgit2015 opened #991 "The long value was accidentally changed after using the scripting tool"
### Proxyman version? (Ex. Proxyman 1.4.3)
Proxyman 2.30.0
### macOS Version? (Ex. mac 10.14)
mac 11.5.1
### Steps to reproduce
Use scripting function to make the response have a numeric field longer than 11 digits, it will become a strange number
Its original value should be

![image](https://user-images.githubusercontent.com/15918650/133186692-b732f17c-e1d2-44fd-b18e-bef7d547cb8e.png)

but it be

[2021-09-14 06:36] NghiaTranUIT commented on #991
Thanks for the screenshot. I suppose that it's an issue when parsing the JSON String to JSON Object 👍 I will fix and sent you a beta build this week 👍

[2021-09-14 07:56] NghiaTranUIT commented on #991
Hey @lyhsgit2015 I investigate your issue. Unfortunately, it's a limitation of the JavascriptCore, which is used by the Scripting Tool behind the scene.

Basically, when I pass the Swift Dictionary Object to JavascriptCore and receive the result. JavascriptCore automatically casts your huge number to float. As a result, it displays `1.43......e+18`.

I tried some solutions but it doesn't work well

[2021-09-14 09:16] NghiaTranUIT opened #992 "[BUG] Regex Case Sensitive"
### Description
At the moment, Proxyman is using Regex Matching with Case Insensitive, which is incorrect. We should support Case Sensitive since it's reasonable and we can precisely distinguish Upper/Lower-case.

### Acceptance Criteria
- Use Regex with Case Sensitive

[2021-09-14 09:17] NghiaTranUIT commented on #992
Done with this Beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Regex_Case_Sensitive.dmg

[2021-09-14 12:44] kikeenrique opened #993 "Enhancement: export response body as JSON formatted/beauty"
### Proxyman version? (Ex. Proxyman 1.4.3)
2.32.1

### macOS Version? (Ex. mac 10.14)
macOS 11.5.2
### Steps to reproduce
When selecting a request, you can export it.

### Expected behavior

Currently, my workflow sometimes is to:
- export a request response as "Response Body",
- open the file,
- go to https://jsonformatter.org
- Reformat
-
(I can change some steps and get JSON response field on P

[2021-09-14 13:23] NghiaTranUIT commented on #993
Thanks. I'm able to reproduce your issue 😄 It should export a formatted body if possible.

I'm going to fix it and send you a Beta build this week 👍

[2021-09-14 13:52] NghiaTranUIT commented on #993
To workaround, you can open the Body by VSCode, or your favorite Editor -> Then Saving it somewhere as you like.

When opening a body by the Editor, the body would be formatted properly.

<img width="1192" alt="Screen_Shot_2021-09-14_at_20_43_22" src="https://user-images.githubusercontent.com/5878421/133270267-bf3c3060-ebaf-4cf0-8814-d77e5c0505f0.png">

[2021-09-14 15:30] kikeenrique commented on #993
Ok, that's good enough for me.

[2021-09-15 04:20] NghiaTranUIT commented on #993
Fix with this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Export_with_formatted_body.dmg

From now, you can right-click on the request -> Export -> Request/Response Body. If it's a valid JSON, it will formatted it 👍

[2021-09-15 07:20] florentmorin opened #994 "Enhancement: sync scripts across devices"
### Proxyman version? (Ex. Proxyman 1.4.3)

Proxyman 2.32.1

### macOS Version? (Ex. mac 10.14)

Mac 11.6

### Steps to reproduce

Open scripts on another device after ours of work

### Expected behavior

Show updated scripts and continue to work

### Sync options

Simply import / export via Gist can be really cool.

[2021-09-15 09:50] NghiaTranUIT commented on #994
Unfortunately, there is no auto mechanism to sync the scripting between teams with the current build 😿

I would suggest either solution:

## Use Git to share exported scripts
You can export your script use Git to share with your teammate. Then, importing it again.

## Share Script folder
Create a Github Repository and share two folders:
- The script folder at `~/Library/Application Support/com.pro

[2021-09-15 12:42] chhpt commented on #994
Will proxyman support sync settings by icloud or other cloud service. Imagine a scene, you can share settings with your workmates without tears! It will be a great improvement.

[2021-09-15 14:27] NghiaTranUIT opened #995 "[BUG] Get SSL error when intercepting HTTPS traffic with IP Address"
### Description
If we enable SSL Proxying on IP Address, such as https://1.1.1.1:443, we will get SSL Error and the big warning from Safari/Google Chrome.

<img width="738" alt="Screen Shot 2021-09-15 at 21 26 49" src="https://user-images.githubusercontent.com/5878421/133452239-97d3b96f-b81c-4fcd-966b-039d98b8d161.png">

We should fix it.

### Acceptance Criteria
- Add IP Address to the Subject Al

[2021-09-16 02:09] NghiaTranUIT commented on #994
@chhpt The problem with iCloud is that Proxyman could not share across the different iCloud accounts. Your teammate can use different iCloud.

I suppose that using 3rd sharing service, like Dropbox, Github is reasonable in terms of implementation and maintenance.

[2021-09-16 02:19] NghiaTranUIT commented on #995
Done: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_HTTPS_on_IP_Address.dmg

![Screen Shot 2021-09-15 at 22 00 00](https://user-images.githubusercontent.com/5878421/133538615-12fd6432-8beb-41eb-a10f-8acd950cb916.png)

[2021-09-16 09:07] mhvuze opened #996 "[Suggestion] Option to not automatically start recording upon application launch"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.32.1 (23210)

### macOS Version? (Ex. mac 10.14)
11.3 (20E232)

### Steps to reproduce
When Proxyman is launched, it will automatically start recording.

### Expected behavior
I would like to suggest an option to launch Proxyman without starting the recording process as it would be really handy for certain scenarios. Perhaps Preferences → Advanc

[2021-09-16 09:43] NghiaTranUIT commented on #996
Hey @mhvuze you can opt-out it in Preference -> General Tab -> Turn off Auto Overridden HTTP Proxy at launch 👍

<img width="702" alt="Screen_Shot_2021-09-16_at_16_41_19" src="https://user-images.githubusercontent.com/5878421/133589660-facae5cf-17d3-4e53-ad5a-20ec27199c4d.png">

I guess I would reword it to clearer 👍

[2021-09-16 09:48] #405 closed

[2021-09-16 09:50] mhvuze commented on #996
Hi @NghiaTranUIT, thanks for your quick reply!

I'm aware of the possibility to disable the proxy override at launch. However, this way traffic of other devices that are configured to use the proxy is still being recorded (since recording is automatically started when Proxyman opens, see default recording settings below).

Sorry for the confusion, I hope it's more clear now.

![](https://snipboard

[2021-09-16 09:53] NghiaTranUIT commented on #996
Ah I understand now 😄 I will add a checkbox below the Auto Override HTTP Proxy 👍

[2021-09-16 10:11] tremkonzah commented on #994
@NghiaTranUIT is it possible to define custom script folder globally and load all available script under that folder?
That would be great when use repository and would be easier to push and pull from the repo

e.g `/home/myuser/myrepo/proxyman_script`

[2021-09-16 12:17] NghiaTranUIT opened #997 "[BUG] Filter Not Contains and Not Equal do not work properly"
### Description
If we filter by "Not Contains" and "Not Equal" on the Request/Response Header, it doesn't work. We should fix it.

[2021-09-16 12:18] NghiaTranUIT commented on #997
Fixed: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_Filter_Not_Contains_and_Not_Equal.dmg

[2021-09-17 00:15] crankygeek opened #998 "[Bug] Scripting - if a script has Use as Mock API enabled do not pass through response if script is in Editing Mode"
I have been using the "Use as Mock API" function with my scripts to run tests that would normally be destructive, allowing me to perform multiple tests without having to setup data on the server for each pass.

Today, I accidentally left a script in Editing Mode and when I made the call to the specified endpoint, the script was bypassed which sent the request onto the server which deleted the data

[2021-09-17 00:23] crankygeek opened #999 "[Request] Move Use as Mock API setting with a checkbox to the editing window"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.32.1 (23210)

The **Use as Mock API** setting in Proxyman is fantastic. I'm getting a ton of use out of it. I think it's so helpful, that it should be moved up to the main script editor window instead of hidden away under the More button! I think that it would be nice to give it a permanent home where the current label is, along with a checkbox

[2021-09-17 02:59] fedorjia opened #1000 "Feature: Will Proxyman support map local with some URL and different form data?"
All our interface requests are some URL: https://xxxx./data.json, and the methods are all Post. Different requests are distinguished by the action field in the form data. In this case, does Proxyman Map Local support configuration?

[2021-09-17 03:04] NghiaTranUIT commented on #1000
It's too complicated when defining a matching URL, with URL, Method, and the Body (Form data or JSON) on Map Local tool.

I highly suggest using the Scripting tool, because it's born to do it.

Here is the snippet code that achieve your expect:

[code]

<img width="1492" alt="Screen Shot 2021-09-17 at 10 03 27" src="https://user-images.githubusercontent.com/5878421/133717525-88dc7730-897f-495c-80b

[2021-09-17 03:04] NghiaTranUIT commented on #1000
Here is the Snippet code you might find useful: https://docs.proxyman.io/scripting/snippet-code

[2021-09-17 04:54] NghiaTranUIT commented on #998
It's a reasonable point 👍

I fixed it. If you don't mind, please try this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Improve_Mock_API_Scripting.dmg

Thanks again for opening a detailed ticket. I love it 😄

[2021-09-17 08:41] NghiaTranUIT commented on #999
Thanks for your insight @crankygeek. I move this feature to the main view, so everyone can discover it easily 👍 😄
Build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Improve_Mock_API_UI.dmg

<img width="1479" alt="Screen_Shot_2021-09-17_at_14_59_30" src="https://user-images.githubusercontent.com/5878421/133752631-b1634a65-f7e8-4bf1-8608-8cfdb7615784.png">

[2021-09-17 09:31] fedorjia commented on #1000
Nice, it works. Thank you.

[2021-09-17 10:15] chhpt commented on #994
@NghiaTranUIT That's just a example. The key point is **cloud sync setting**.

We know that we can share settings use 3rd sharing service like github, but it's not a convenient method.

Maybe you can provide a backend sync service for proxyman.

[2021-09-17 13:25] ainciger opened #1001 "Crash when user type [ in Tree View search"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.32.1 (23210)

### macOS Version? (Ex. mac 10.14)
11.5.2 (20G95)

### Steps to reproduce
1. Choose Request/Response "Body" Tab
2. Select Tree View
3. Type `[` in JSON Path search field

### Expected behavior
No crash :)

### Screenshots (optional)

[2021-09-17 13:26] NghiaTranUIT commented on #1001
OMG. I'm able to reproduce this bug and it's terrible 😱

I'm fixing it now and thanks for reporting the bug. I love to squash it 👍  🙌

[2021-09-17 14:35] NghiaTranUIT commented on #1001
It's fixed with this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.32.1_Fix_crash_JSONPath_filter.dmg

Thanks again 🙌

[2021-09-17 15:31] crankygeek commented on #998
I'm seeing a slight difference in the response bodies when the script run vs when it's in editing mode. Maybe this is expected?

Also the raw output displayed in the browser is different (no newlines/pretty layout when script is active, array order is different).

Besides that, it looks like the requests are not passing through when Mock API is enabled. 🏆

Thanks!

[2021-09-17 15:35] crankygeek commented on #999
LGTM. Ship it! :)

[2021-09-17 15:35] #999 closed

[2021-09-17 15:52] crankygeek commented on #1001
Since I was already checking other beta builds, I figured I'd give this a look too. :)

I was able to repro the crash on the release version and it looks like this build fixed it.

[2021-09-17 16:36] crankygeek commented on #739
@NghiaTranUIT I've been running into limitations with the current scripting list, too. I realize the original request is a big lift, so I was wondering if there may be some other things that could be added while that's in progress? For example, I use pretty verbose names for my scripts, so having the ability to filter the list by strings would help.

I know this could introduce some other issues,

[2021-09-18 01:53] NghiaTranUIT commented on #998
When it's in the editing mode, it will return the template mocking response, which is:

[code]

Can you share with me the screenshot of "(no newlines/pretty layout when script is active" because I haven't changed this behavior.

If you mean that the Key order of a Dictionary, It's a limitation when casting Object from JavascriptCore to Swift. In swift, Dictionary doesn't have order, so the order m

[2021-09-18 11:21] totoropcbeta opened #1002 "Expect response body can copy value or object like Chrome F12"
Proxyman
![image](https://user-images.githubusercontent.com/44626635/133886930-a41211d1-3c45-45e5-97fb-d002345b561d.png)

Chrome F12
![image](https://user-images.githubusercontent.com/44626635/133886971-d587cd00-19ea-4c3b-8f8f-e84c6b280590.png)

[2021-09-18 12:03] NghiaTranUIT commented on #1002
Thanks for your suggestion @totoropcbeta 👍

Currently, you can copy the value by right-click on the row:

<img width="658" alt="Screen Shot 2021-09-18 at 19 02 50" src="https://user-images.githubusercontent.com/5878421/133888144-99435324-178b-4c0e-b3e5-ea06237b93cc.png">

I will support other copy functionality 🙌

[2021-09-18 15:27] philosopherdog commented on #968
I see. So why is it opening all these clone simulators when running unit tests specifically? Is there a work around in the mean time? Are you able to reproduce the issue?

[2021-09-19 04:03] onurgenes opened #1003 "Listening Different Port e.g. xyz.com:2065"
Thank you for great product.

I have a project where I should listen non-standard port :2065 for HTTP requests. Is it possible?

[2021-09-19 04:04] NghiaTranUIT commented on #1003
Yes, Proxyman can do it 👍 😄

[2021-09-19 05:02] onurgenes commented on #1003
Perfect but I don't know how. Any tutorials or something?

[2021-09-19 05:29] NghiaTranUIT commented on #1003
The port number is not a matter. You can follow the tutorial here:
- For macOS: https://proxyman.io/posts/2019-06-14-getting-started-with-proxyman
- For iOS Simulator: https://proxyman.io/posts/2019-07-06-Debugging-on-iOS-Simulator-with-Proxyman
- For iOS device: https://proxyman.io/posts/2019-06-16-How-I-use-Proxyman-to-see-HTTP-requests-responses-on-my-iPhone or https://www.raywenderlich.com/253

[2021-09-21 09:06] ganjarpanji commented on #264
im also facing problem using pulsesecure vpn.
its stated [here](https://docs.proxyman.io/troubleshooting/proxyman-does-not-work-with-vpn-apps#4-pulse-secure-and-global-protect-vpn) but i couldn't make it work

[2021-09-21 09:18] NghiaTranUIT commented on #264
Hey @ganjarpanji please try this [Document](https://docs.pulsesecure.net/WebHelp/PCS/8.3R1/Content/PCS/PCS_AdminGuide_8.3/Specifying_Web_Proxy_Servers.htm) from Pulse Secure VPN

It guides you on how to set HTTP/HTTPS proxy to a Proxy Server. Then you can set IP=127.0.0.1, port=9090

[2021-09-21 09:52] Floperoid commented on #740
Also map remote for websocket connection would be great feature. It's working in Charles now, might give you some ideas

[2021-09-22 03:12] totoropcbeta commented on #1002
emm,i tried it according to the way you supplied,but could not copy dictionary or array,like "makers",the result of the copy operation is "makers: Array(1 items)".so this could only copy value like "tagline" in your picture.

[2021-09-22 03:13] NghiaTranUIT commented on #1002
Yup, it's a limitation on the current build. Copy will copy the key and value, not the json object like Google Chrome 😄

I'm working on this feature and will release in the next build 👍

[2021-09-22 13:05] NghiaTranUIT commented on #661
I found a solution by using NSDockTilePlugin 😄 The icon will persist after quitting and there is no glitch when starting/quiting the app. Let check out this build: @dukepham thử build này https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.33.0_Dock_Plugin_v2.dmg

[2021-09-22 13:06] NghiaTranUIT opened #1004 "Glitch when changing to new Dock Icon"
### Description
The icon app will revert back to the original when we quit the app, or it takes time to change to the new icon at launch. We should fix it because Nova app can do it 👍

[2021-09-22 13:07] NghiaTranUIT commented on #1004
Done: @dukepham thử build này https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.33.0_Dock_Plugin_v2.dmg

https://user-images.githubusercontent.com/5878421/134349076-21ca6e6a-30c0-49b3-99c8-b93fb1907b51.mp4

[2021-09-22 16:30] mhdhejazi commented on #661
Super cool! I didn't know about it before. Thank you for following up on this!

[2021-09-22 16:38] mhdhejazi commented on #661
Just tested the Dock Plugin version and it's working great! 🎉 Well done! 👏🏼

[2021-09-23 03:55] NghiaTranUIT commented on #661
Awesome. Glad to know it works 👍

[2021-09-24 02:00] Colaman0 opened #1005 "options request empty body"
###  Proxyman 2.33.0

###  mac 10.15

when i send a request, somtimes i see two request . first request is options request and response is empty body,  second is the normal request. what should i do to skip the options request.

[2021-09-24 02:01] NghiaTranUIT commented on #1005
If this request is made from Safari/GoogleChrome, the OPTIONS request is a pre-flight request, so there is no way to skip it.

[2021-09-24 02:09] Colaman0 commented on #1005
The request is made from Android App.

[2021-09-24 02:12] NghiaTranUIT commented on #1005
Just wondering: Is your request made by a WebView in Android or a native networking library?

[2021-09-24 02:14] Colaman0 commented on #1005
Not for the WebView, it made by OkHttp.

[2021-09-24 02:18] NghiaTranUIT commented on #1005
From what I google, it seems the Option requests come from OKHttp, for some reason. Proxyman captures and displays on the app.

Unfortunately, there is no way to "Skip" it. Maybe you can try block it (Right-Click -> Tool -> Block List -> Make sure Method = OPTIONS). It will block these requests and won't display on the app 👍

[2021-09-24 02:33] Colaman0 commented on #1005
Thanks for you reply.

[2021-09-24 06:41] NicolasCombe5555 commented on #449
Is this ever going to be integrated or be less manual? Asking for a friend 😅

[2021-09-24 06:44] NghiaTranUIT commented on #449
Unfortunately, Firebase SKD is a closed source so I'm unable to integrate Proxyman to Firebase.

From what I investigate recently on Firebase, they are still using a non-HTTP protocol to communicate to Firebase Server. Therefore, Proxyman could not automatically capture it.

I suppose that using Atlantis framework and add the request/response manually is a solution I can think of 👍

[2021-09-25 02:29] NghiaTranUIT opened #1006 "[BUG] Copy value on JSON TreeView doesn't work sometime"
### Description
If we select a JSON node, then right-clicking on the row, which is above the current selection (Screenshot), Proxyman doesn't copy the value correctly.

The copied value is from a different cell. We should fix it 👍

<img width="662" alt="Screen Shot 2021-09-25 at 09 27 20" src="https://user-images.githubusercontent.com/5878421/134754861-34be2d36-2494-40df-a14a-b8ee0435af9e.png">

#

[2021-09-25 19:59] vprelovac opened #1007 "SSL proxying does not work for connections to apple.com"
### Proxyman version? (Ex. Proxyman 1.4.3)
Latest

### macOS Version? (Ex. mac 10.14)
11.5

### Steps to reproduce
Turn on SSL proxying for apple.com

### Expected behavior
apple.com loads

SSL Handshake Failed
handshakeFailed(NIOSSL.BoringSSLError.sslError([]))

### Screenshots (optional)
![Screen 2021-09-25 at 12 58 58@2x](https://user-images.githubusercontent.com/4319401/134784607-324ccfa5-9f3f

[2021-09-26 01:29] NghiaTranUIT commented on #1007
Hey, this issue happens with Charles Proxy and Fiddler too. For some reason, Safari rejects all SSL from self-signed certificates and there is no way to fix it.

If you try to sniff apple.com from Google Chrome, it works fine without any problems 👍

I suppose that it's an intention from Apple to prevent being intercepted from Mitm apps.

[2021-09-26 03:30] NghiaTranUIT commented on #1006
Fixed: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.33.0_Copy_Value_Object_in_JSONTreeView.dmg

[2021-09-26 03:31] NghiaTranUIT commented on #1002
Hey @totoropcbeta, please try this beta build: https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.33.0_Copy_Value_Object_in_JSONTreeView.dmg

You can now copy a Value or JSON node like Google Chrome 👍

<img width="692" alt="Screen Shot 2021-09-26 at 08 54 47" src="https://user-images.githubusercontent.com/5878421/134792415-49a3f248-4dc4-4b6d-b218-6369817577e6.png">

[2021-09-26 15:34] vprelovac commented on #1007
Thank you for your comment. I am interested in the origin of the touch icon for apple.com that Safari uses and clearly downloads from apple.com.

![Screen 2021-09-26 at 08 33 10@2x](https://user-images.githubusercontent.com/4319401/134814377-a56d16a5-52f5-42d7-8216-1a22fa250bae.jpg)

However it is not https://apple.com/apple-touch-icon.png

Laying it out there in case you had other ideas how to ge

[2021-09-27 01:44] fishioon commented on #858
DNS spoofing is a useful feature for me. I need connect a new version server with a domain.

[2021-09-27 01:49] NghiaTranUIT commented on #858
@fishioon you might try using Scripting to map your domain to a new domain on the fly.

Here is the [snippet code](https://docs.proxyman.io/scripting/snippet-code#change-request-destination-scheme-host-port-path):

- Matching rule = https://proxyman.io

[code]

It will map https://proxyman.io -> http://proxyman.dev:9090 or your configure 👍

[2021-09-27 05:28] NghiaTranUIT commented on #1007
I'm not sure how to find the touch icon you'd like. Maybe we can get from the Developer Inspector or parse the <head> of apple website 🤔

[2021-09-27 13:40] vprelovac commented on #1007
Apple seems to use a non-standard file name for it and SSL proxy was my only hope. As you said none of the others work too and I tried them all. Thanks for looking into it anyway.

[2021-09-28 09:16] ptrkstr opened #1008 "Response Body Horizontal Scrolling is Reversed"
### Proxyman version? (Ex. Proxyman 1.4.3)
Version 2.33.0 (23300)

### macOS Version? (Ex. mac 10.14)
11.6 (20G165)

### Steps to reproduce
1. Select a request that has a large horizontal response body
2. Scroll to the left or right

### Expected behavior
- Horizontal scrolling behaviour matches that of scrolling in request TableView or any other mac app

### Actual behavior
- Horizontal scrolling

[2021-09-28 12:46] NghiaTranUIT commented on #1008
I tested with a very long response body but I could not reproduce it 🤔

Here is how I test:
1. Turn off "Word Warp in Body Previewer" in Preference -> Advanced => It's important to show a horizontal scroller.
2. Open System Preference -> Touchpad -> Scroll & Zoom -> Check the "Natural" scroll direction
3. Try to scroll on the main table view of Proxyman and the body response.

From what I observe,

[2021-09-28 12:50] NghiaTranUIT commented on #1008
Just figure it out that I can scroll horizontally by holding SHIFT + scroll the wheel 🤯 and it works fine too

[2021-09-29 07:27] ptrkstr commented on #1008
This is strange! I restarted my mac and the issue is resolved. 🤷‍♂️

[2021-09-29 07:27] #1008 closed

[2021-09-30 07:40] ruixingchen commented on #181
Need socks5, too, http(s) works not good as always, socks5 works very well with Charles

[2021-09-30 13:36] NghiaTranUIT opened #1009 "Click to copy the IP address"
### Description
Some users request that they would like to copy a current IP address and universally paste it to their iOS device without manually typing each character.

It's a great idea and we should support it 👍

### Acceptance Criteria
- Click on the status bar to copy the IP
- Add copy button to iOS/Android Guideline

[2021-09-30 14:32] inickt commented on #416
Hey, I was curious if there have been any updates on this? Still been loving the app so thanks for all of your work and the great updates!

[2021-09-30 14:41] NghiaTranUIT commented on #1009
Done : https://proxyman.s3.us-east-2.amazonaws.com/beta/Proxyman_2.33.0_Copy_IP_Address.dmg

[2021-09-30 15:03] NghiaTranUIT commented on #416
Hey @inickt Thanks for your shoutout.

To be honest, I tried to support HTTP/2 months ago but it doesn't work well since it's a breaking change in our codebase 😿 . The problem is not just supporting HTTP/2, it also includes HTTP/1.1 as backward compatible.

At the moment, I'm focusing on the Folder Rule (where you can organize the tool rules in folders). When it's done, I will back to HTTP/2 👍